<!DOCTYPE html>
<html>
<head>
    <title>Ticket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        /****************reset css starts here*********************************/
        * {box-sizing: border-box;-moz-box-sizing: border-box; -webkit-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;}
        h1, h2, h3, h4, h5, h6, p, ul, li, body, html, form, fieldset,figure, div, small, strong, sup, sub, section { margin:0; padding:0; outline:none; font-weight:normal; border:0 }
        form, fieldset { float:left; width:100% }
        img { border:0 none; max-width: 100%; height: auto;display:block;vertical-align:top;}
        a { text-decoration:none; border:0; outline:0;}
        ul { list-style:none; }
        .clear { clear:both;}

        /****************body**************************************************/
        @font-face {
            font-family: 'open_sansbold';
            src: url('http://www.fe-conf.com/assets/font/OpenSans-Bold-webfont.eot');
            src: url('http://www.fe-conf.com/assets/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('http://www.fe-conf.com/assets/font/OpenSans-Bold-webfont.woff2') format('woff2'),
            url('http://www.fe-conf.com/assets/font/OpenSans-Bold-webfont.woff') format('woff'),
            url('http://www.fe-conf.com/assets/font/OpenSans-Bold-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;

        }

        @font-face {
            font-family: 'open_sanslight';
            src: url('http://www.fe-conf.com/assets/font/OpenSans-Light-webfont.eot');
            src: url('http://www.fe-conf.com/assets/font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
            url('http://www.fe-conf.com/assets/font/OpenSans-Light-webfont.woff2') format('woff2'),
            url('http://www.fe-conf.com/assets/font/OpenSans-Light-webfont.woff') format('woff'),
            url('http://www.fe-conf.com/assets/font/OpenSans-Light-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;

        }

        @font-face {
            font-family: 'open_sansregular';
            src: url('http://www.fe-conf.com/assets/font/OpenSans-Regular-webfont.eot');
            src: url('http://www.fe-conf.com/assets/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('http://www.fe-conf.com/assets/font/OpenSans-Regular-webfont.woff2') format('woff2'),
            url('http://www.fe-conf.com/assets/font/OpenSans-Regular-webfont.woff') format('woff'),
            url('http://www.fe-conf.com/assets/font/OpenSans-Regular-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;

        }

        body {font-family: 'open_sansregular', sans-serif;font-size: 16px;color:#313030;}
        body, html {height: 100%;}
        html {background: #fff;}
        *, *:after, *:before {box-sizing: border-box;-moz-box-sizing: border-box; -webkit-box-sizing: border-box;-ms-box-sizing: border-box;}
        .clearfix:before, .clearfix:after {content: ""; display: table;}
        .clearfix:after {clear: both;}
        .clearfix {zoom: 1; /* ie 6/7 */}

        /*********** helping classes *************************/
        .pull-left {float:left;}
        .pull-right {float:right;}

        /*********** layout section start here ***************/
        .main-container {
            background: #fff;
            min-height: 360px;
            height:auto;
            margin: auto;
            position: relative;
            top: 33px;
            width: 700px;
        }
        .top-section {
            background: url("http://www.fe-conf.com/assets/images/yellow-bg.svg") no-repeat;
            background-size: contain;
            position: relative;
            height: 254px;
            width: 700px;
        }
        .top-section > span {
            background: #fff none repeat scroll 0 0;
            font-family: 'open_sanslight';
            display: inline-block;
            margin-top: 11px;
            padding: 10px;
        }
        .top-section .logo {
            height: 0;
            margin: auto;
            overflow: hidden;
            padding: 70px 0 0;
            width: 518px;
            background: url("http://www.fe-conf.com/assets/images/logo.svg") no-repeat center;
        }
        .top-section > p {
            margin-top: 13px;
            position: relative;
            text-align: center;
        }
        .top-section p span {
            font-family: 'open_sansbold';
        }
        .entry-section {
            background: url("http://www.fe-conf.com/assets/images/red-bg.svg") no-repeat center center;
            color: #fff;
            display: block;
            float: right;
            font-family: "open_sansbold";
            font-size: 13px;
            height: 76px;
            line-height: 73px;
            margin-top: -88px;
            max-width: 234px;
            overflow: hidden;
            padding: 0 17px 0 68px;
            position: relative;
            text-align: right;
            text-overflow: ellipsis;
            text-transform: uppercase;
            vertical-align: middle;
            white-space: nowrap;
            width: 234px;
        }
        .bottom-section {
            padding-left: 15px;
            padding-right: 15px;
        }
        .user-section {
            float: left;
            width: 80%;
            padding-top: 14px;
        }
        .user-section span {
            font-family: 'open_sansbold';
            font-size: 18px;
            text-transform: capitalize;
            max-width: 490px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
        }
        .user-section p {
            font-family: 'open_sansregular';
            font-size: 13px;
        }
        .brand-section {
            float: left;
            margin-top: -7px;
            padding: 7px 0 0;
            text-align: right;
            width: 20%;
        }
        .brand-section a {
            margin: auto;
            padding: 58px 0 0 0;
            height: 0;
            background: url("http://www.fe-conf.com/assets/images/brand-logo.svg") no-repeat center;
            overflow: hidden;
            display: inline-block;
            width: 66px;
        }
        .brand-section span {
            font-family: 'open_sansbold';
            display: inline-block;
            font-size: 11px;
            vertical-align: top;
        }
        .note-section {
            clear: both;
            padding-top: 13px;
        }
        .note-section small {
            font-family: 'Arial';
            font-size: 11px;
        }
        .note-section small sup {
            position: relative;
            top: 3px;
        }
        .note-section small a {
            color:#313030;
        }
        .note-section small a span {
            font-weight: 900;
        }
    </style>
</head>
<body>
<!-- BOF main container ---------------------------------------------------- -->
<div class="main-container">
    <!-- BOF top section ---------------------------------------------------- -->
    <section class="top-section">
        <span>Ticket to</span>
        <div class="logo">FrontEnd Meet</div>
        <p><span>Venue:</span> TO THE NEW Digital,  Logix Techno Park  Tower B, 4th Floor, Sector - 127 Noida, UP</p>
    </section>
    <!-- EOF top section ---------------------------------------------------- -->
    <div class="entry-section">Entry One</div>

    <!-- BOF bottom section ---------------------------------------------------- -->
    <section class="bottom-section clearfix">
        <div class="user-section">
            <span><%- user.name %></span>
            <p>Start time: 9:30am</p>
        </div>
        <div class="brand-section">
            <span>Organiser: </span>
            <a href="http://www.tothenew.com/">To The New</a>
        </div>
        <p class="note-section clearfix">
            <small class="pull-left">Note<sup>*</sup>: Please bring your Laptop</small>
            <small class="pull-right">For more information please login to <a href="http://www.fe-conf.com">http://www.<span>fe-conf</span>.com</a></small>
        </p>
    </section>
    <!-- BOF bottom section ---------------------------------------------------- -->
</div>
<!-- EOF main container ------------------------------------------------------ -->

</body>
</html>
