<div id="form" ng-show="isActive">

    <h1>Registration Form</h1>
    <div class="topText">One of our representative will call you shortly to confirm your participation.</div>

    <div id="container">
        <div class="inner">
            <form name="userForm" ng-submit="addThing()" novalidate>

                <div class="form-catcher">
            <span class="input input--nao">
					<input class="input__field input__field--nao" tabindex="-1" name="name" type="text"
                           ng-model="formData.name" required/>
					<label class="input__label input__label--nao">
						<span class="input__label-content input__label-content--nao">Name</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60"
                         preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span>
                    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is
                        required.</p>
                </div>
                <div class="form-catcher">
              <span class="input input--nao">
					<input class="input__field input__field--nao" tabindex="-1" type="text" name="company"
                           ng-model="formData.company" required/>
					<label class="input__label input__label--nao">
						<span class="input__label-content input__label-content--nao">Company</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60"
                         preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span>
                    <p ng-show="userForm.company.$invalid && !userForm.company.$pristine" class="help-block">Your
                        Company name is required.</p>
                </div>
                <div class="form-catcher">
             <span class="input input--nao">
					<input class="input__field input__field--nao" tabindex="-1" type="email" name="email"
                           ng-model="formData.email" required/>
					<label class="input__label input__label--nao">
						<span class="input__label-content input__label-content--nao">Email</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60"
                         preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span>
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid
                        email.</p>
                </div>
                <div class="form-catcher">
            <span class="input input--nao">
					<input class="input__field input__field--nao" tabindex="-1" type="number" ng-minlength="10"
                           maxlength="13" name="phone" ng-model="formData.phone" required/>
					<label class="input__label input__label--nao">
						<span class="input__label-content input__label-content--nao">Phone</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60"
                         preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span>
                    <p ng-show="userForm.phone.$error.minlength " class="help-block">Enter Valid Number</p>
                    <p ng-show="userForm.phone.$error.maxlength" class="help-block">Your Number is exceeded by 10
                        numbers</p>

                </div>
                <div class="form-catcher">
                    <span class="input input--nao">
				<!--	<input class="input__field input__field&#45;&#45;nao" tabindex="-1" type="text" name="message"
                           ng-model="formData.message"/>-->
          <textarea rows="2" class="input__field input__field--nao" tabindex="-1" name="message"
                    ng-model="formData.message"></textarea>
					<label class="input__label input__label--nao">
						<span class="input__label-content input__label-content--nao">Message</span>
					</label>
					<svg class="graphic graphic-textarea graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60"
                         preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span>
                </div>

                <div class="btn_wrapper">
                    <button type="submit" class="regis-btn btn" tabindex="-1" id="submitBtn"
                            ng-class="{'disabled':userForm.$invalid}">Register Now
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="succes_div" class="success_div" ng-show="!isActive">
    <h1>Thank You</h1>
    <div class="topText">Your request has been sent. We will contact you shortly. </div>
    <button ng-click="closeThisDialog()" class="regis-btn btn">Finish</button>
</div>


