<section class="cd-section visible home">
  <div class="wrapper-b">

    <section id="first-section">
      <div class="container">
        <div class="container-inner">
          <div class="clearfix header-b">
            <div class="social-icons pull-right">
              <a href="https://www.facebook.com/pg/feconf" target="_blank" class="cd-next"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://twitter.com/feConfIN" target="_blank" class="cd-next"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/groups/10331010" target="_blank" class="cd-next"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <figure>
              <h1>
                <a href="#" class="site-logo">Fe-conf</a>
              </h1>
              <!--<span>2017, Season 1</span>-->
            </figure>
          </div>
          <article class="main clearfix">
            <h1>
              It’s <br/> <span>All  about<br/> Front-end  </span>
              <span class="date">SAVE THE DATE: 18 Feb, 2017</span>
            </h1>
          </article>
          <div class="information clearfix">
            <div class="days" id="clock">
              <h2><span class="daysleft">{{diffDays}}</span> days <span class="light-text">to go..</span></h2>

              <ul class="venue-details">
                <li>Saturday: <b>February 18, 2017</b></li>
                <li>Time: <b>9:30 AM</b></li>
                <li>Venue: <b>Noida</b></li>
              </ul>

            </div>
            <div class="register">
              <h3>Be a part of the leading conference on state-of-the-art frontend and UX
                technologies.</h3>
              <a href="#" ng-click="registerNow()">
                <b>Register For Free</b>
              </a>
            </div>
          </div>
        </div>
      </div>


    </section>
  </div>
</section>

<section class="cd-section about">
  <div class="wrapper-b">
    <section id="second-section">
      <div class="container">
        <article>
          <h2>About Us</h2>
          <p>FE CONF is a one day conference held in Noida. It is dedicated to the Front End Engineers community in India and aims at bringing together tech and design people to exchange ideas and knowledge.</p>

          <p>The conference is an excellent platform for people from Front End Engineering, UI Development, HTML & CSS, Angular JS and Polymer JS domains to present their projects, latest research and technologies in the fields of Web technologies, Web design and UI.</p>

          <p>Our last conference had an amazing feedback, it helped people to find new ideas, learn from brilliant people, get answers to a lot of questions, some even found new jobs and made good friends.
          </p>

        </article>
      </div>
    </section>
  </div>
</section>

<section class="cd-section speakers">
  <div class="wrapper-b">
    <section id="third-section">
      <div class="container">
        <h2>speakers</h2>
        <article>
          <p>FE-Conf is an excellent platform for keen frontenders, developers and designers to present their talks on latest trends and technologies in the fields of Front End Engineering, UI Development, HTML & CSS, AngularJS and Polymer JS, Web design and UX domains.
          </p>
          <p>This year FE-Conf is hosting amazing speakers from all across India. Listed below are our speakers.</p>
        </article>
        <div class="speaker-list">
          <figure>
            <div class="image"><img src="../assets/images/speaker-1.png"></div>
            <figcaption>
              <h4>MANOJ</h4>
              <p>NAMA</p>
            </figcaption>
            <div class="speaker-popover">
              <img src="../assets/images/speaker-1.png">
              <p>Manoj Nama is a Fullstack JavaScript developer. He is a technology enthusiast, and is passionate about adopting ideas and bring them to life through technology. He is an expert in NodeJS, Mongo, React, Redux, React-Native, AngularJS, and various other related technologies. In his free time he enjoys driving cars & watching Formula-1. He is currently acting as an Associate Tech. Lead @TOTHENEW.</p>

              <div class="social-icons">
                <span>Social Handles-</span>
                <a href="https://twitter.com/manoj_nama" target="_blank" class="cd-next"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/manoj-nama/" target="_blank" class="cd-next"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/manoj-nama" target="_blank" class="cd-next"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>

            </div>
          </figure>
          <figure>
            <div class="image"><img src="../assets/images/ravi.png"></div>
            <figcaption>
              <h4>Ravi</h4>
              <p>Tiwari</p>
            </figcaption>
            <div class="speaker-popover">
              <img src="../assets/images/ravi.png">
              <p>Ravi is a creative professional with an extensive experience in building web applications, services and APIs. Over the years Ravi has worked on the full stack and the spectrum of his dexterity includes everything in between. He is a JavaScript aficionado, with proven expertise in OOJS and Functional Programming.</p>

              <div class="social-icons">
                <span>Social Handles-</span>
                <a href="https://twitter.com/devravitiwari" target="_blank" class="cd-next"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/devravitiwari/" target="_blank" class="cd-next"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/devravitiwari" target="_blank" class="cd-next"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>

            </div>
          </figure>
          <figure>
            <div class="image"><img src="../assets/images/rajendra.png"></div>
            <figcaption>
              <h4>Rajendra</h4>
              <p>Prasad</p>
            </figcaption>
            <div class="speaker-popover">
              <img src="../assets/images/rajendra.png">
              <p>Rajendra is a Technology freak, and an expert on HTML5, CSS3, JS, Angular, Polymer, web-components, material design and creative designing.
                He believes in creating customer value through innovation.
                He is a detail-oriented front end developer and designs and executes web solutions that elevate user experience.
                He is currently working as an Associate Tech Lead at TO THE NEW.</p>

              <div class="social-icons">
                <span>Social Handles-</span>
                <a href="https://twitter.com/manoj_nama" target="_blank" class="cd-next"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/manoj-nama/" target="_blank" class="cd-next"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/manoj-nama" target="_blank" class="cd-next"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>

            </div>
          </figure>
          <figure>
            <div class="image"><img src="../assets/images/ramkumar.jpg"></div>
            <figcaption>
              <h4>Ramkumar</h4>
              <p>R</p>
            </figcaption>
            <div class="speaker-popover">
              <img src="../assets/images/ramkumar.jpg">
<p>              Ram is an Interactive Developer & a Corporate Trainer with 7+ years on a variety of technical and creative projects in the field of Video Games, Websites and Mobile Applications. He has an expertize on Unity3D , HTML 5 , CSS3, OOJS, Flash AS3, NodeJS, Backbone and AngularJS. He is currently working as Software Engineer at Expedia Inc. primarily involved in architecting the project with cutting edge technologies.</p>

              <div class="social-icons">
                <span>Social Handles-</span>
                <a href="https://in.linkedin.com/in/r4mkum4r" target="_blank" class="cd-next"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/r4mkum4r" target="_blank" class="cd-next"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>

            </div>
          </figure>

          <figure>
            <div class="image"><img src="../assets/images/prince.jpg"></div>
            <figcaption>
              <h4>Prince</h4>
              <p>Soni</p>
            </figcaption>
            <div class="speaker-popover">
              <img src="../assets/images/speaker-1.png">
              <p>MANOJ Nama is a Fullstack JavaScript developer, A tech. Enthusiast & Evangelist. Loves working with anything JavaScript.
                Have experience on NodeJS, Mongo, React, Redux, React-Native, AngularJS, and various other related technologies.
                I Enjoy driving & watching Formula-1 in the free time.

                Currently acting as an Associate Tech. Lead @TOTHENEW.</p>

              <div class="social-icons">
                <span>Social Handles-</span>
                <a href="https://twitter.com/manoj_nama" target="_blank" class="cd-next"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/manoj-nama/" target="_blank" class="cd-next"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/manoj-nama" target="_blank" class="cd-next"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>

            </div>
          </figure>

          <figure>
            <div class="image"><img src="../assets/images/dummy.jpg"></div>
            <figcaption>
              <h4>Gaurav</h4>
              <p>Ramanan</p>
            </figcaption>
            <div class="speaker-popover">
              <img src="../assets/images/speaker-1.png">
              <p>Gaurav is the CEO of RCorp Pvt. Ltd. providing Product Development and Web Solutions across 50 organizations including Startups, MNCs, Indian Govt, Foreign Govts, NGOs & Embassies. Gaurav is a renowned speaker and has delivered multiple talks on design and technology. He also regularly contributes & creates impactful open source projects on GitHub and designs unique Art & Interfaces.</p>

              <div class="social-icons">
                <span>Social Handles-</span>
                <a href="https://twitter.com/manoj_nama" target="_blank" class="cd-next"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/manoj-nama/" target="_blank" class="cd-next"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/manoj-nama" target="_blank" class="cd-next"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>

            </div>
          </figure>
        </div>
      </div>

    </section>
  </div>
</section>

<section class="cd-section agenda">
  <div class="wrapper-b">
    <section id="forth-section">
      <div class="container clearfix">
        <div class="left clearfix">
          <article>
            <h2>schedule</h2>
            <p>
              It’s a day of learning and growth, brainstorming on deep design problems and insights into how and solve the problems in the right way.
            </p>
            <p id="tagline">– If you're a front-ender, you're invited!</p>
          </article>
          <div class="clearfix submit-links">
            <a href="#" class="submit-talk" ng-click="submitTalk()">
              <strong>Submit Your Talk</strong>
            </a>
            <br/>
            <a href="#" class="book-seat" ng-click="registerNow()">
              <b>Book A Seat</b>
            </a>
          </div>
        </div>

        <ul class="time-schedule right">
          <li>
            <time>09:00</time>
            Registration
          </li>
          <li>
            <time>09:45</time>
            Introduction
          </li>
          <li>
            <time>10:00</time>
            <span class="text-yellow">JavaScript</span>
            <small>-Manoj Nama</small>
          </li>
          <li>
            <time>10:45</time>
            <span class="text-yellow">Functional Hacks In JavaScript</span>
            <small>-Ravi Tiwari</small>
          </li>
          <li>
            <time>11:30</time>
            Tea Break
          </li>
          <li>
            <time>12:00</time>
            <span class="text-yellow">Angular2</span>
            <small>Rajendra Prasad</small>
          </li>
          <li>
            <time>12:45</time>
            <span class="text-yellow">RxJS</span>
            <small>-Ramkumar R</small>
          </li>
          <li>
            <time>14:00</time>
            Lunch
          </li>
          <li>
            <time>15:00</time>
            <span class="text-yellow">React</span>
            <small>-Prince Soni</small>
          </li>
          <li>
            <time>16:00</time>
            <span class="text-red">Lightning Session</span></li>
          <li>
            <time>16:30</time>
            Tea Break
          </li>
          <li>
            <time>17:00</time>
            <span class="text-red">Discussion with panel</span></li>
          <li>
            <time>17:30</time>
            End of Session
          </li>
        </ul>

      </div>
    </section>
  </div>
</section>

<section class="cd-section bg gallery">
  <div class="wrapper-b">
    <section id="fifth-section">
      <div class="container">
        <ul class="clearfix">
          <li class="forth show-mobile">
            <a href="#" class="view" style="visibility: hidden;">--</a>
            <div class="highlight-tag">
              <h1>highlights</h1>
              <!--<h2>2016 SEASON 1</h2>-->
            </div>
          </li>
          <li class="first">
            <img src="../assets/images/gallery-1.png" class="border-bot" alt="image last season"/>
          </li>
          <li class="second">
            <div class="wrap-img">
              <img src="./assets/images/gallery-2.png" class="border-left" alt="image last season"/>
            </div>
            <div class="wrap-img">
              <img src="../assets/images/gallery-3.png" class="border-topLeft border-bot"/>
            </div>
          </li>
          <li class="third">
            <img src="./assets/images/gallery-3.png" class="border-leftBot" alt="image last season"/>
          </li>
          <li class="forth">
            <img src="./assets/images/gallery-4.png" class="border-right" alt="image last season"/>
          </li>
          <li class="forth">
            <img src="./assets/images/gallery-5.png" class="border-right" alt="image last season"/>
          </li>
          <li class="forth">
            <img src="./assets/images/gallery-6.png" class="border-right" alt="image last season"/>
          </li>
          <li class="forth">
            <a href="#" class="view" style="visibility: hidden">View Gallery</a>
            <div class="highlight-tag">
              <h1>highlights</h1>
              <!--<h2>2016 SEASON 1</h2>-->
            </div>
          </li>

        </ul>


      </div>

    </section>
  </div>
</section>

<section class="cd-section venue">
  <div class="wrapper-b">
    <section id="sixth-section">
      <div class="container">
        <h2>location</h2>
        <!--<p>The quality of a conference is largely defined by the quality of the presenters.</p>-->
        <p>Its all about Front End!</p>
      </div>
      <div id="location">
        <iframe class="iframe"  src="https://www.google.com/maps/embed/v1/place?q=TO+THE+NEW+Digital,+Noida,+Uttar+Pradesh,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
      </div>
    </section>
  </div>
</section>

<section class="cd-section section-5 contact">

  <div class="wrapper-b">
    <section id="seventh-section">

      <div class="container">
        <p>Looking for more information?</p>
        <h2 class="get-in-touch">
          get in touch fast
        </h2>
        <div class="foot">
          <ul>
            <li>
              <h2>Address</h2>
              <address>
                Tower B, 4th floor,
                <br/>Logix Techno Park,<br/>
                Noida Expressway,<br/>Sector 127, Noida, Uttar Pradesh, 201304, India
              </address>
            </li>
            <li>
              <h2>email address:</h2>
              <a href="mailto:contact@fe-conf.com">contact@fe-conf.com</a>
              <h2 class="follow-us">follow us:</h2>
              <div class="social-icons">
                <a href="https://www.facebook.com/pg/feconf" target="_blank" class="cd-next"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/feConfIN" target="_blank" class="cd-next"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/groups/10331010" target="_blank" class="cd-next"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </li>
            <li>
              <h2>phone no:</h2>
              <p>+91 9811511520</p>
              <p>+91 7827639991</p>
            </li>
          </ul>
        </div>
      </div>


    </section>
  </div>

</section>

<div class="home_menu" >

    <a href="#" ng-click="toggleMenu = !toggleMenu" >
    <div class="nav-icon1" ng-class="toggleMenu ? 'open' : ''">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
</div>

<div class="ham-ic">
  <a href="#"  ng-click="toggleMenu = !toggleMenu;" >
    <div class="nav-icon1" ng-class="toggleMenu ? 'open' : ''">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
</div>

<nav>
  <ul class="cd-vertical-nav">
    <li><a href="#0" class="cd-prev inactive"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></li>
    <li><a href="#0" class="cd-next"><i class="fa fa-arrow-circle-down " aria-hidden="true"></i></a></li>
  </ul>
</nav> <!-- .cd-vertical-nav -->

<nav id="menu" class="menu-de" ng-class="toggleMenu ? 'active' : '' ">
  <div class="container">
    <ul>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false"  id="home">home</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="about">about</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="speakers">speakers</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="agenda">agenda</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="gallery">gallery</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="venue">venue</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="contact">contact</a>
      </li>
    </ul>
  </div>
</nav>
