<section class="cd-section visible home">
  <div class="wrapper-b">

    <section id="first-section">
      <div class="container">
        <div class="container-inner">
          <div class="clearfix header-b">
            <figure>
              <h1>
                <a href="#" class="site-logo">Fe-conf</a>
              </h1>
              <span>2016, Season 2</span>
            </figure>
          </div>
          <article class="main clearfix">
            <h1>
              Where <br/> <span>frontend<br/> engineers <br> meet!</span>
            </h1>
          </article>
          <div class="information clearfix">
            <div class="days" id="clock">
              <h2><span class="daysleft">{{diffDays}}</span> days <span class="light-text">to go..</span></h2>

              <ul class="venue-details">
                <li>Saturday: <b>September 9, 2016</b></li>
                <li>Time: <b>9:30 AM</b></li>
                <li>Venue: <b>Noida</b></li>
              </ul>

            </div>
            <div class="register">
              <h3>Be a part of the leading conference on state-of-the-art frontend and UX
                technologies.</h3>
              <a href="#" ng-click="registerNow()">
                Book a seat now
              </a>
            </div>
          </div>
        </div>
      </div>


    </section>
  </div>
</section>

<section class="cd-section about">
  <div class="wrapper-b">
    <section id="second-section">
      <div class="container">
        <article>
          <h2>About Us</h2>
          <p>
            The frontend landscape is witnessing a paradigm shift because of changes in technologies, plenty of device
            sizes, connection speed and loads of other factors. To address these developments, we are organizing
            Frontend Engineers Meet.</p>
          <p>
            Frontend Engineers Meet is a one-day event for the web professionals and aims to bring together the bright
            minds from Frontend Engineering, UI Development, HTML & CSS, Angular JS and Polymer JS domains.<br/>
          </p>
          <p>
            The meet gives you an opportunity to learn and share your passion about User Experience and related
            disciplines.</p>
        </article>
      </div>
    </section>
  </div>
</section>

<section class="cd-section speakers">
  <div class="wrapper-b">
    <section id="third-section">
      <div class="container">
        <h2>speakers</h2>
        <article>
          <p>The quality of a conference is largely defined by the quality of the presenters.
          </p>
          <p>The Front-End Design Conference has always worked hard to find a truly engaging and thoughtful lineup and
            this year is no different.</p>
        </article>
        <div class="speaker-list">
          <figure>
            <div class="image"><img src="../assets/images/speaker-1.png"></div>

            <figcaption>
              <h4>MANOJ</h4>
              <p>NAMA</p>
            </figcaption>
          </figure>
          <figure>
            <div class="image"><img src="../assets/images/speaker-2.png"></div>
            <figcaption>
              <h4>Rajendra</h4>
              <p>prasad</p>
            </figcaption>
          </figure>
          <figure>
            <div class="image"><img src="../assets/images/speaker-3.png"></div>
            <figcaption>
              <h4>jitendra</h4>
              <p>prasad</p>
            </figcaption>
          </figure>
          <figure>
            <div class="image"><img src="../assets/images/speaker-4.png"></div>
            <figcaption>
              <h4>rajan</h4>
              <p>shergil</p>
            </figcaption>
          </figure>
          <figure>
            <div class="image"><img src="../assets/images/speaker-5.png"></div>
            <figcaption>
              <h4>Kapil</h4>
              <p>chotwani</p>
            </figcaption>
          </figure>
        </div>
      </div>

    </section>
  </div>
</section>

<section class="cd-section agenda">
  <div class="wrapper-b">
    <section id="forth-section">
      <div class="container clearfix">
        <div class="left clearfix">
          <article>
            <h2>schedule</h2>
            <p>
              Meet your fellow front-enders and the FE-Conf speakers the night before the event. Whether you attend
              Front-Trends or not
            </p>
            <p id="tagline">– if you're a front-ender, you're invited!</p>
          </article>
          <div class="clearfix submit-links">
            <a href="#" class="submit-talk" ng-click="registerNow()">
              <strong>Submit Your Talk</strong>
            </a>
            <br/>
            <a href="#" class="book-seat" ng-click="registerNow()">
              Book A Seat
            </a>
          </div>
        </div>

        <ul class="time-schedule right">
          <li>
            <time>09:00</time>
            Registration
          </li>
          <li>
            <time>09:45</time>
            Introduction
          </li>
          <li>
            <time>10:00</time>
            <span class="text-yellow">RxJS- destroy the state machine!</span>
            <small>-Manoj Nama</small>
          </li>
          <li>
            <time>10:45</time>
            <span class="text-yellow">RxJS- destroy the state machine!</span>
            <small>-Manoj Nama</small>
          </li>
          <li>
            <time>11:30</time>
            Tea Break
          </li>
          <li>
            <time>12:00</time>
            <span class="text-yellow">RxJS- destroy the state machine!</span>
            <small>-Manoj Nama</small>
          </li>
          <li>
            <time>13:45</time>
            <span class="text-yellow">RxJS- destroy the state machine!</span>
            <small>-Manoj Nama</small>
          </li>
          <li>
            <time>14:00</time>
            Lunch
          </li>
          <li>
            <time>15:00</time>
            <span class="text-yellow">RxJS- destroy the state machine!</span>
            <small>-Manoj Nama</small>
          </li>
          <li>
            <time>16:00</time>
            <span class="text-red">Lightning Session</span></li>
          <li>
            <time>16:00</time>
            Lunch
          </li>
          <li>
            <time>16:00</time>
            <span class="text-red">Discussion with panel</span></li>
          <li>
            <time>16:00</time>
            End of Session
          </li>
        </ul>

      </div>
    </section>
  </div>
</section>

<section class="cd-section bg gallery">
  <div class="wrapper-b">
    <section id="fifth-section">
      <div class="container">
        <ul class="clearfix">
          <li class="forth show-mobile">
            <a href="#" class="view">View Gallery</a>
            <div class="highlight-tag">
              <h1>highlights</h1>
              <h2>2016 SEASON 1</h2>
            </div>
          </li>
          <li class="first">
            <img src="../assets/images/gallery-1.png" class="border-bot" alt="image last season"/>
          </li>
          <li class="second">
            <div class="wrap-img">
              <img src="./assets/images/gallery-2.png" class="border-left" alt="image last season"/>
            </div>
            <div class="wrap-img">
              <img src="../assets/images/gallery-3.png" class="border-topLeft border-bot"/>
            </div>
          </li>
          <li class="third">
            <img src="./assets/images/gallery-3.png" class="border-leftBot" alt="image last season"/>
          </li>
          <li class="forth">
            <img src="./assets/images/gallery-4.png" class="border-right" alt="image last season"/>
          </li>
          <li class="forth">
            <img src="./assets/images/gallery-5.png" class="border-right" alt="image last season"/>
          </li>
          <li class="forth">
            <img src="./assets/images/gallery-6.png" class="border-right" alt="image last season"/>
          </li>
          <li class="forth">
            <a href="#" class="view">View Gallery</a>
            <div class="highlight-tag">
              <h1>highlights</h1>
              <h2>2016 SEASON 1</h2>
            </div>
          </li>

        </ul>


      </div>

    </section>
  </div>
</section>

<section class="cd-section venue">
  <div class="wrapper-b">
    <section id="sixth-section">
      <div class="container">
        <h2>location</h2>
        <p>The quality of a conference is largely defined by the quality of the presenters.</p>
        <p>The Front-End Design Conference has always worked hard to find a truly engaging and thoughtful lineup and
          this year is no different.</p>
      </div>
      <div id="location">
        <iframe class="iframe"  src="https://www.google.com/maps/embed/v1/place?q=TO+THE+NEW+Digital,+Noida,+Uttar+Pradesh,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
      </div>
    </section>
  </div>
</section>

<section class="cd-section section-5 contact">

  <div class="wrapper-b">
    <section id="seventh-section">

      <div class="container">
        <p>looking for more information?</p>
        <h2 class="get-in-touch">
          get in touch fast
        </h2>
        <div class="foot">
          <ul>
            <li>
              <h2>Address</h2>
              <address>
                Logix Techno Park
                <br/>,Tower B, 4thFloor,<br/>
                Noida Express Way,<br/> Sector 127, Noida, Uttar Pradesh 201304, India
              </address>
            </li>
            <li>
              <h2>email address:</h2>
              <a href="mailto:contact@fe-conf.com">contact@fe-conf.com</a>
            </li>
            <li>
              <h2>phone no:</h2>
              <p>+91 9811511520</p>
              <p>+91 7827639991</p>
            </li>
          </ul>
        </div>
      </div>


    </section>
  </div>

</section>

<div class="home_menu" >

    <a href="#" ng-click="toggleMenu = !toggleMenu" >
    <div class="nav-icon1" ng-class="toggleMenu ? 'open' : ''">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
</div>

<div class="ham-ic">
  <a href="#"  ng-click="toggleMenu = !toggleMenu;" >
    <div class="nav-icon1" ng-class="toggleMenu ? 'open' : ''">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
</div>

<nav>
  <ul class="cd-vertical-nav">
    <li><a href="#0" class="cd-prev inactive"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></li>
    <li><a href="#0" class="cd-next"><i class="fa fa-arrow-circle-down " aria-hidden="true"></i></a></li>
  </ul>
</nav> <!-- .cd-vertical-nav -->

<nav id="menu" class="menu-de" ng-class="toggleMenu ? 'active' : '' ">
  <div class="container">
    <ul>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false"  id="home">home</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="about">about</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="speakers">speakers</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="agenda">agenda</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="gallery">gallery</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="venue">venue</a>
      </li>
      <li>
        <a href="#" class="jumpTo" ng-click="toggleMenu = false" id="contact">contact</a>
      </li>
    </ul>
  </div>
</nav>
