@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

body{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}
/*----------------------------------------- Rajan Css --------------------------------*/
header {
  background: #f4cb29;
  display: block;
  overflow: hidden;
}
section{
  display: block;
  overflow: hidden;
}

.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.custom-header {
  width:100%;
  float:left;
  padding: 20px 0;
}

.custom-header .logo {
  width:30%;
  float:left;
}
.custom-menu {
  text-align: right;
  width: 70%;
  float: left;
  padding: 25px 0;
}

.custom-menu ul {
  list-style:none;
  padding:0;
  margin:0;
  display:block;
}
.custom-menu ul li {
  display:inline-block;

}
.custom-menu ul li a{
  padding:5px 15px;
  color:#5a512f;
  font-size:18px;
  line-height:22px;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration:none;
}
.custom-menu ul li a:hover {
  border-color:#5a512f;
}
.custom-banner-area {
  padding: 30px 0 0;
  float: left;
  width: 100%;
}
.bannerText {
  width: 55%;
  float: left;
}

.bannerText h2 {
  font-size: 30px;
  line-height: 40px;
  color:#5a512f;
  font-weight:normal;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.bannerText h2 strong {
  font-weight:600;
}
.bannerText p {
  width:90%;
  font-size: 18px;
  line-height: 24px;
  color:#5a512f;
  font-weight:normal;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 10px 0 40px;
}
.bannerText ul {
  padding:0;
  margin:0;
  list-style:none;
}

.bannerText ul li {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  color: #5a512f;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding: 0 15px;
}

.bannerText ul li span {
  font-weight: 600;
}

.bannerText ul li:after {
  content: "";
  width: 2px;
  height: 17px;
  background: #5a512f;
  position: absolute;
  top: 4px;
  right: 0px;
}

.bannerText ul li:first-child {
  padding-left:0;
}
.bannerText ul li:last-child:after{
  width:0;
}

.bannerimg {
  width: 45%;
  float: left;
  text-align: right;
}

.bannerimg p {
  margin: 0;
}


.bannerimg a {
  width:256px;
  height:42px;
  box-sizing:border-box;
  text-align:center;
  text-transform:uppercase;
  background: #ef3458;
  color: #FFF;
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  border:3px solid transparent;
  text-decoration:none;
  transition:all 0.1s ease;
  padding: 5px 17px;
}
.bannerimg a:hover {
  border:3px solid #f51943;
  text-decoration:none;
}

.custom-aboutUs  {}

.custom-aboutUs h2 {
  font-size: 40px;
  line-height: 50px;
  color: #5a512f;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 0;
}

.custom-aboutUs h3 {
  font-size: 30px;
  line-height: 40px;
  color: #5a512f;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.custom-aboutUs p {
  font-size: 16px;
  line-height: 24px;
  color:#5a512f;
  font-weight:normal;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 50px;
}

.custom-aboutUs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 40px;
  overflow: hidden;
}

.custom-aboutUs ul li {
  float: left;
  width: 18%;
  margin: 0 1%;
  text-align: center;
}

.custom-aboutUs ul li span {
  border: 2px solid #596674;
  border-radius: 50%;
  width: auto;
  display: inline-block;
  padding: 26px;
  clear: both;
  margin: 0 auto;
  transition: all 0.1s ease;
  width: 150px;
  height: 150px;
}
.custom-aboutUs ul li:hover span{
  background:#00afec;
  border: 2px solid #00afec;
}

.background_bottom img {
  width: 100%;
}


/*------------------------------------------------------- End rajan Css----------------------*/

#speakers{
  text-align:center;
  width:100%;
  margin:auto;
  background:#ef3458;
  color:#fff;
  padding-bottom:70px;
}
#speakers h2{
  font-size:20px;
  font-weight:normal;
  text-align:center;
  display: inline-block;
}
.speakers_detail {
  width: 80%;
  margin: auto;
}
ul.speakers_ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.speakers_ul li {
  width: 24%;
  text-align: center;
  border-right: 1px solid #fff;
  list-style-type: none;
  display: inline-block;
}
.speakers_ul .image {
  display: block;
}
.speakers_ul .text {
  display: block;
  margin: 10px 0 20px;
}
.image_container {
  width: 70%;
  margin: auto;
}
.image_container .content_heading {
  width: 100%;
  display: block;
  font-size: 16px;
  margin: 20px 0;
  text-transform: uppercase;
  text-align:left;
}
.image_container .content_heading:hover{
  color:#089cd3;
}
.content_detail {
  font-size: 14px;
  text-align: left;
}
.speakers_ul li:last-child {
  border: none;
}
#agenda{
  text-align:center;
  width:80%;
  margin:auto;
  padding-bottom:70px;
  overflow: hidden;
}
#agenda h2{
  font-size:20px;
  font-weight:normal;
  text-align:center;
  display: inline-block;
  color:#2c3d4f;
}
#agenda .program {
  font-size: 58px;
  font-weight: bold;
  color: #2c3d4f;
  position: relative;
  min-height: 150px;
  width: 100%;
  float: left;
}
#agenda .program>span {
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: #2c3d4f;
  position: absolute;
  font-size:40px;
}
.hide_onscroll span{
  display:block;
}
span.begin{
  font-weight: bold;
  color:#2c3d4f;
  left:40%;
  min-height:150px;
}
span.end{
  font-weight: bold;
  color:#2c3d4f;
  top:50%;
  right: 45%;
}
#agenda .registerButton {
  float: none;
  display: inline-block;
  margin: 50px 0;
}
ul.program_table {
  padding: 0;
  margin: 0;
  font-size: 14px;
  display:none;
}
.program_table li {
  width: 16%;
  float: left;
  list-style-type: none;
  min-height: 150px;
  vertical-align: middle;
  padding: 20px 0;
  position: relative;
}

#agenda .program > span {
  display: block;
  font-size: 50px;
  font-weight: 800;
  color: #2c3d4f;
  position: absolute;
}
.program_table li a {
  text-decoration: none;
  padding: 5px;
  color: #2c3d4f;
  border-bottom: 2px solid #2c3d4f;
  float: left;
  line-height:10px;
  text-align:left;
  width: 103px;
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
  -webkit-transition: width 1s ease-in-out;
}

.time_detail {
  width: 100%;
  padding: 10px 0;
  float: left;
  text-align: left;
  display: none;
  position: absolute;
  top: 37px;
}
.time_detail .timing_heading {
  color: #24272a;
  display: block;
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
}
.time_detail .owner_name {
  width: 100%;
  display: block;
  font-size:15px;
  font-weight:normal;
}

.bottom_btn{
  width:100%;
  float:left;
}
.program_table li:first-child {
  margin-left: 16%;
}
.program_table li:hover a {
  color: #ef3458;
  width:100%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
.program_table li.active .time_detail{
  display:block;
}
.program_table li.active a{
  color: #ef3458;
  width:100%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
.program_table li a:hover{
  color: #ef3458;
  width:100%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
#form{
  max-width:477px;
  width:100%;
  padding:0;
  margin:0;
}
#form h1{
  font-size:24px;
  font-weight:normal;
  text-align:center;
  line-height:50px;
  position: relative;
}
#form h1:after
{
  content: '';
  display: block;
  background: #ff880c;
  height: 3px;
  max-width: 60px;
  width: 100%;
  margin: 0 auto;
}
.topText{
  width:60%;
  margin:auto;
  text-align:center;
  font-size:12px;
}
#submitBtn{
  color:#fff;
  background-color:#00afec;
  width:200px;
  height:35px;
  border:none;
  text-align:center;
  margin:15px 0 0 130px !important;
}


.field {
  position: relative;
  margin-bottom: 1em;
}

.field > label {
  position: absolute;
  top: -14px;
  color: #428bca;
  font-size: 0.8em;
}
.field {
  position: relative;
}

.field > label {
  position: absolute;
  color: rgba(0,0,0,0.87);
  top: 8px;
  left: 4px;
  transition: all 0.3s ease;
  pointer-events: none;
}
.field label.effect {
  top: -10px;
  color: #00B9F5;
  font-size: 12px;
  left:0;
}
.field label.effect {
  top: -10px;
  color: #00B9F5;
  font-size: 12px
}

.field > input {
  border: 0;
  padding: 0.5em 0!important;
  box-shadow: none !important;
  border-radius: 0;;
  border-bottom: 1px solid #555555;
  max-width: 400px;
  background: none;
}

.short-input {
  max-width: 400px;
  display: block;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
  background: #ffffff;
  width: 450px;
}
.ngdialog h1{border-bottom:none!important;margin:0!important}
.register_btn{
width: 256px;
height: 42px;
box-sizing: border-box;
text-align: center;
text-transform: uppercase;
background: #ef3458;
color: #FFF;
display: inline-block;
font-size: 20px;
line-height: 25px;
font-weight: normal;
font-family: 'Open Sans', sans-serif;
border-radius: 3px;
border: 3px solid transparent;
text-decoration: none;
transition: all 0.1s ease;
padding: 5px 17px;
}
.register_btn:hover{
  color:#fff;
  text-decoration: none;
}
span.contact {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #f51943;
  font-weight: 600;
}
div#succes_div {
  padding: 10px;
  text-align: center;
}
.image_right img {
  width: 10%;
}
span.request {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
button.finish {
  background: #f4cb29;
  padding: 5px 30px;
  border: none;
  color: #fff;
  margin: 15px;
  cursor:pointer;
}
button.finish:hover {
  background:#f51943;
}
#succes_div h1{
  font-size: 24px;
font-weight: normal;
text-align: center;
line-height: 50px;
position: relative;
  text-transform:capitalize;
}
#succes_div h1:after {
  content: '';
  display: block;
  background: #ff880c;
  height: 3px;
  max-width: 60px;
  width: 100%;
  margin: 0 auto;
}
.table .text-center {
  text-align: left;
}

