<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.message}}">{{thing.name}} - {{thing.phone}} - {{thing.email}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>-->
<div ng-init="main.init()">
<header>
  <div class="container">
    <div class="custom-header">
      <div class="logo">
        <a href="#"><img src="../../assets/images/conference-logo.png" alt="Logo"/></a>
      </div>
      <div class="custom-menu">
        <ul>
          <li><a href="">ABOUT</a></li>
          <li><a href="">SPAEAKERS</a></li>
          <li><a href="">AGENDA</a></li>
          <li><a href="">VENUE</a></li>
          <li><a href="">CONTACTS</a></li>
        </ul>
      </div>
    </div>
    <div class="custom-banner-area">
      <div class="bannerText">
        <h2>We are in <strong>Bangalore to hire Tech Geeks</strong></h2>
        <p>Be a Part of One of The Fastest Growing Premium Digital  Services Company in India</p>
        <ul>
          <li>Saturday: <span>January 30, 2016</span></li>
          <li>Time: <span>9:30 AM</span></li>
          <li>Venue: <span>Noida</span></li>
        </ul>
      </div>
      <div class="bannerimg">
        <img src="../../assets/images/sponsor-ttnd.png" /><br><br><a href="#" ng-click="registerNow()">Book Your Seat</a>
      </div>
    </div>

  </div>
</header>
<section>
  <div class="background_bottom">
    <img src="../../assets/images/header-bottom-bg.png" alt="background-image">
  </div>
  <div class="container">
    <div class="custom-aboutUs">
      <h2>About Us</h2>
      <p>Frontend Engineers Meet is a one-day event for the web professionals and aims to bring together the bright minds from Frontend engineering, UI development, HTML & CSS, Angular.js and Ploymer.js domains. The meet gives you an opportunity to learn and share your passion about User Experience and related disciplines. The meet gives you an opportunity to learn and share your passion about User Experience and related disciplines. The meet gives you an opportunity to learn and share your passion about User Experience and related disciplines. </p>
      <h3>Who Should Attend</h3>
      <ul>
        <li><span><img src="../../assets/images/icon-4.png" alt="Digital Architects"/></span><p>FrontEND Engineers</p></li>
        <li><span><img src="../../assets/images/icon-4.png" alt="Digital Architects"/></span><p>UI Developers</p></li>
        <li><span><img src="../../assets/images/icon-4.png" alt="Digital Architects"/></span><p>UX Practitioners</p></li>
        <li><span><img src="../../assets/images/icon-4.png" alt="Digital Architects"/></span><p>Digital Architects</p></li>
        <li><span><img src="../../assets/images/icon-5.png" alt="Pixel Visionaries"/></span><p>Pixel Visionaries</p></li>
      </ul>
    </div>
  </div>
</section>
<div id="speakers">
  <h2>Speakers</h2>
  <div class="speakers_detail">
    <ul class="speakers_ul">

      <li>
        <div class="image_container">
          <span class="image"> <img src="../../assets/images/speaker-pic.png" alt="imag1"></span>
          <span class="text">Rajan Shergill</span>

                    <span class="content_heading">
                        Introduction to Google Interactve Media Ads
                    </span>
          <div class="content_detail">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
          </div></div>
      </li>
      <li>
        <div class="image_container">
          <span class="image"> <img src="../../assets/images/speaker-pic.png" alt="imag1"></span>
          <span class="text">Rajan Shergill</span>

                    <span class="content_heading">
                        Introduction to Google Interactve Media Ads
                    </span>
          <div class="content_detail">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
          </div></div>
      </li>
      <li>
        <div class="image_container">
          <span class="image"> <img src="../../assets/images/speaker-pic.png" alt="imag1"></span>
          <span class="text">Rajan Shergill</span>

                    <span class="content_heading">
                        Introduction to Google Interactve Media Ads
                    </span>
          <div class="content_detail">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
          </div></div>
      </li>
      <li>
        <div class="image_container">
          <span class="image"> <img src="../../assets/images/speaker-pic.png" alt="imag1"></span>
          <span class="text">Rajan Shergill</span>

                    <span class="content_heading">
                        Introduction to Google Interactve Media Ads
                    </span>
          <div class="content_detail">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
          </div></div>
      </li>

    </ul>
  </div>
</div>


  <div id="agenda">
    <h2>Agenda</h2>

    <div class="program"><span class="begin">Begin</span>
      <ul class="program_table">

        <li class="active">
          <a href="#">9:45</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>
        <li>
          <a href="#">10:00</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction  </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>
        <li>
          <a href="#">12:00</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction  </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>
        <li>
          <a href="#">12:30</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction  </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>
        <li>
          <a href="#">14:30</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction  </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>
        <li>
          <a href="#">15:30</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction  </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>
        <li>
          <a href="#">16:00</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction  </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>
        <li>
          <a href="#">16:00</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction  </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>
        <li>
          <a href="#">16:00</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction  </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>
        <li>
          <a href="#">16:00</a>

          <div class="time_detail">
            <span class="timing_heading">Introduction  </span>
            <span class="owner_name">Mukesh Saini</span>
          </div>
        </li>

      </ul>
      <span class="end">End.</span></div>
    <div class="bottom_btn">
      <div class="registerButton">
        <div class="RegBtnText"><a href="#" ng-click="registerNow()" class="register_btn">Book Your Seat</a> </div>
      </div>
    </div>
  </div>

</div>


<script type="text/ng-template" id="templateId">

<div id="form" ng-show="isActive" >

    <h1>Invitation Form</h1>
    <div class="topText">Our representative will send you the invitation of the Front End Fest 2016</div>
      <div id="container">
        <div class="inner">
          <form  name="userForm" ng-submit="addThing()" novalidate>
          <div class="field form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label ng-show="showname"  class="show-hide">Name</label>
            <input type="text" name="name" onclick="this.placeholder=''" onblur="this.placeholder='Name'" ng-focus="showname = true "  ng-blur="showname = false" class="form-control" ng-model="formData.name" placeholder="Name" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
          </div>
          <div class="field form-group" ng-class="{ 'has-error' : userForm.company.$invalid && !userForm.company.$pristine }">
            <label ng-show="showCompany" class="show-hide">Company</label>
            <input type="text" ng-focus="showCompany = true" onclick="this.placeholder=''" onblur="this.placeholder='Company'" ng-blur="showCompany = false" name="company" class="form-control" ng-model="formData.company" placeholder="Company" required>
            <p ng-show="userForm.company.$invalid && !userForm.company.$pristine" class="help-block">Your Company name is required.</p>
          </div>

          <div class="form-group field" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">

            <label ng-show="showEmail"  class="show-hide">Email</label>

            <input ng-focus="showEmail = true" ng-blur="showEmail = false" onclick="this.placeholder=''" onblur="this.placeholder='Email'" type="email" class="form-control" name="email" ng-model="formData.email" placeholder="Email"/>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
          </div>
          <!-- USERNAME -->
          <div class="form-group field" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
            <label ng-show="showNumber" class="show-hide">Phone Number</label>
            <input type="integer" ng-focus="showNumber = true" ng-blur="showNumber = false"  name="phone" onclick="this.placeholder=''" onblur="this.placeholder='Phone Number'" placeholder="Phone Number" class="form-control" ng-model="formData.phone" ng-minlength="10" ng-maxlength="10">
            <p ng-show="userForm.phone.$error.minlength" class="help-block">Enter Valid Number</p>

          </div>
          <div class="field form-group" ng-class="{ 'has-error' : userForm.message.$invalid && !userForm.message.$pristine }">
            <label ng-show="showmessage" class="show-hide">Message</label>
            <input type="text" ng-focus="showmessage = true" ng-blur="showmessage = false" name="message" class="form-control" ng-model="formData.message" onclick="this.placeholder=''" onblur="this.placeholder='Message'" placeholder="Message" required>
            <p ng-show="userForm.message.$invalid && !userForm.message.$pristine" class="help-block">Your Message is required.</p>
          </div>

    <div class="topText">We need your information to contact you only. We shall never see</div>
    <button type="submit" class="btn btn-primary" id="submitBtn" ng-disabled="userForm.$invalid">Submit</button>
    </form>
</div>
  </div></div>
  <div id="succes_div" class="success_div" ng-show="!isActive">
    <h1>Thankyou Message</h1>
<span class="image_right"><img src="../assets/images/tick_green.png" alt="right_image"</span>
    <span class="request">Your request has been sent.</span>
    <span class="contact">We will contact you Shortly </span>

    <button ng-click="closeThisDialog()" class="finish">Finish</button>

  </div>
</script>
<!--<script src="../../bower_components/jquery/dist/jquery.min.js"></script>-->
