@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700);
body{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}

/*-----------------------------------------Start Poonam Css --------------------------------*/
header {
  background: #f4cb29;
  padding-bottom: 14px;
  display: block;
  overflow: hidden;
}
section {
  display: block;
  overflow: hidden;
}
.container {
  width: 1150px;
  margin: 0 auto;
}
.header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 0;
  background-color: #f4cb29;
}
.header-top .logo {
  width: 35%;
  float: left;
  padding: 19px 0 20px 63px;
}
.header-top .logo a {
  display: block;
}
.header-top .logo img, .header-top.smaller .logo, .header-top.smaller nav.nav-bar, .header-top.smaller {

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.header-top.smaller .logo img {
  width: 50%;
}
.header-top.smaller .logo {
  padding: 8px 0 0 63px;
}
.header-top.smaller nav.nav-bar {
  padding: 10px 0;
}
.header-top.smaller {
  z-index:99999;
  padding: 0;
  position:fixed;
  box-shadow:0 0 2px 2px #DAD7D7;
}
nav.nav-bar {
  text-align: right;
  width: 65%;
  float: left;
  padding: 47px 0;
}
nav.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}
nav.nav-bar ul li {
  display: inline-block;
}
nav.nav-bar ul li a {
  padding: 5px 15px;
  color: #5a512f;
  font-size: 18px;
  line-height: 28px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}
nav.nav-bar ul li a:hover {
  border-color: #5a512f;
}
nav.nav-bar ul li a.active {
  background-color: #ffffff;
}
.banner-area {
  padding: 229px 0 0;
  width: 100%;
  float: left;
}
.bannerText {
  width: 60%;
  float: left;
  padding-left: 83px;
}
.bannerText h2 {
  font-size: 30px;
  line-height: 40px;
  color: #222;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.bannerText h2 strong {
  font-weight: 700;
}
.bannerText p {
  font-size: 19px;
  line-height: 28px;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 6px 80px 32px 0;
  font-weight: 400;
}
.bannerText ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bannerText ul li {
  display: inline-block;
  font-size: 19px;
  line-height: 30px;
  color: #222;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  letter-spacing: -0.3px;
  padding: 0 22px;
}
.bannerText ul li span {
  font-weight: 700;
}
.bannerText ul li:after {
  content: "";
  width: 2px;
  height: 20px;
  background: #222;
  position: absolute;
  top: 4px;
  right: 0px;
}
.bannerText ul li:first-child {
  padding-left: 0;
}
.bannerText ul li:last-child:after {
  width: 0;
}
.bannerimg {
  width: 40%;
  float: left;
  text-align: right;
  padding: 7px 0 0;
}
.bannerimg p {
  margin: 0;
}
.bannerimg a {
  width: 256px;
  height: 42px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  background: #ef3458;
  color: #FFF;
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  border: 3px solid transparent;
  text-decoration: none;
  transition: all 0.1s ease;
  padding: 5px 17px;
  margin-top: 9px;
}
.bannerimg a:hover {
  border: 3px solid #f51943;
  text-decoration: none;
}
.aboutUs {
  width: 98%;
  margin: auto;
}
.aboutUs h2 {
  padding-top: 15px;
  font-size: 38px;
  line-height: 26px;
  color: #5a512f;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.aboutUs h3 {
  font-size: 25px;
  line-height: 90px;
  color: #2c3d4f;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.aboutUs p {
  font-size: 18px;
  line-height: 30px;
  color: #5a512f;
  font-weight: 400;
  text-align: center;
  margin-bottom: 60px;
}
.aboutUs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 120px !important;
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.aboutUs ul li {
  float: left;
  width: 18%;
  margin: 0 1%;
  text-align: center;
}
.aboutUs ul li p {
  font-size: 14px;
  font-weight: 700;
  color: #2c3d4f;
  margin: 12px 0;
}
.aboutUs ul li span {
  border: 2px solid #2c3d4f;
  border-radius: 50%;
  width: 136px;
  display: inline-block;
  padding: 0;
  clear: both;
  margin: 0 auto;
  transition: all 0.1s ease;
  height: 136px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}
.aboutUs ul li:hover span {
  background: #00afec;
  border: 2px solid #00afec;

}
.background_bottom {
  background-image: url(/assets/images/header-bottom-bg.png);
  background-repeat: no-repeat;
  height: 82px;
  width: 100%;
  margin-top: -14px;
}


#speakers {
  text-align: center;
  background: #ef3458;
  color: #fff;
  padding-bottom: 70px;
}
#speakers h2 {
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 80px 0 60px;
  line-height: 40px;
}
.speakers_detail {
  width: 1150px;
  margin: auto;
  margin-bottom: 50px;
}
ul.speakers_ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.speakers_ul li {
  width: 24%;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.44);
  list-style-type: none;
  display: inline-block;
}
.speakers_ul .image {
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 0 auto;
}
.speakers_ul .text {
  display: block;
  margin: 10px 0 20px;
  font-size: 18px;
  line-height: 19px;
}
.image_container {
  width: 79%;
  margin: auto;
}
.content_heading {
  width: 79%;
  text-align: center;
  line-height: 33px;
  display: block;
  font-size: 16px;
  margin: 30px 0 30px 29px;
  text-transform: uppercase;
}
.content_detail {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  text-align: justify;
}
.speakers_ul li:last-child {
  border: none;
}
/*------------------------------------------------------- End Poonam Css----------------------*/
#agenda{
  text-align:center;
  width:80%;
  margin:auto;
  padding-bottom:70px;
  overflow: hidden;
}
#agenda h2{
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 80px 0 60px;
  line-height: 40px;
}
#agenda .program {
  font-size: 58px;
  font-weight: bold;
  color: #2c3d4f;
  position: relative;
  min-height: 150px;
  width: 100%;
  float: left;
}
#agenda .program  .slide_left > span {
  display: block;
  font-size: 50px;
  font-weight: 800;
  color: #2c3d4f;
  position: absolute;
  width: 19%;
  float: left;
}
#agenda .program  .slide_right > span {
  display: block;
  font-size: 50px;
  font-weight: 800;
  color: #2c3d4f;
  position: absolute;
  width: 19%;
  float: left;
  text-align:left;
}

span.begin{
  color:#2c3d4f;
  left:40%;
  min-height:150px;
  top:-10px
}
span.end{
  color:#2c3d4f;
  top:47%;
  right: 45%;
}
#agenda .registerButton {
 /* float: none;
  display: inline-block;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;*/
  padding-top:57px;
}
ul.program_table {
  padding: 0;
  margin: 0;
  font-size: 14px;
  display:none;
}
.program_table li {
  width: 16%;
  float: left;
  list-style-type: none;
  min-height: 150px;
  vertical-align: middle;
  padding: 10px 0;
  position: relative;
}


.program_table li a {
  text-decoration: none;
  padding: 5px;
  color: #2c3d4f;
  border-bottom: 3px solid #2c3d4f;
  float: left;
  text-align:left;
  width: 103px;
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
  transition: width 200ms ease-in;
}

//.time_detail {
//  width: 100%;
//  padding: 10px 0;
//  float: left;
//  text-align: left;
//  display: none;
//  position: absolute;
//  top: 35%;
//}
.time_detail .timing_heading {
  color: #24272a;
  display: block;
  padding: 1px 0;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}
.time_detail .owner_name {
  width: 100%;
  display: block;
  font-size:15px;
  font-weight:normal;
}

.bottom_btn{
  width:100%;
  float:left;
}
.program_table li:first-child {
  margin-left: 16%;
}

.program_table li.active .time_detail span{
  opacity:1;
}
.animate-left {
  width: 80%;
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-left: 21.5%;
  top: 8px;
}
.custom_wrapper {
  width: 17.6%;
  float: left;
  position: relative;
  text-align: left;
}

#form{
  max-width:477px;
  width:100%;
  padding:0;
  margin:0;
}
#form h1{
  font-size:24px;
  font-weight:normal;
  text-align:center;
  line-height:50px;
  position: relative;
}
#form h1:after
{
  content: '';
  display: block;
  background: #ff880c;
  height: 3px;
  max-width: 60px;
  width: 100%;
  margin: 0 auto;
}
.topText{
  width:60%;
  margin:auto;
  text-align:center;
  font-size:12px;
}
#submitBtn {
  color: #fff;
  background-color: #ef3458;
  padding: 8px 63px;
  border: none;
  text-align: center;
  border-radius: 0;
  margin: 0 auto;
  text-align: center;
}
span.nine-one {
  position: absolute;
  display: block;
  border-bottom: none;
  top: 5px;
}
.phone label {
  left: 60px !important;
}
.phone input {
  width: 81%;
  margin-left:58px;
}
.field {
  position: relative;
  margin-bottom: 1em;
}


.field {
  position: relative;
}

.field > label {
  position: absolute;
  color: #adadad;
  top: 8px;
  left: 4px;
  transition: all 0.3s ease;
  pointer-events: none;
}
.field label.effect {
  top: -10px;
  color: #00B9F5;
  font-size: 12px;
  left:0;
}
.field label.effect {
  top: -10px;
  color: #00B9F5;
  font-size: 12px
}

.field > input {
  border: 0;
  padding: 0.5em 0 !important;
  box-shadow: none !important;
  border-radius: 0;
  border-bottom: 1px solid #cccccc;
  max-width: 400px;
  background: none;
  color: #000!important;
  font-size: 16px;
  text-transform: capitalize;
}
.name_field >input {
color: #ef3458!important;
font-size: 16px;
font-weight: 600;
}
.mail_field input {
  text-transform: lowercase;
}
.btn_wrapper {
  text-align: center;
}

.short-input {
  max-width: 400px;
  display: block;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
  background: #ffffff;
  width: 450px;
}
.ngdialog h1{border-bottom:none!important;margin:0!important}
.register_btn{
width: 256px;
height: 42px;
box-sizing: border-box;
text-align: center;
text-transform: uppercase;
background: #ef3458;
color: #FFF;
display: inline-block;
font-size: 20px;
line-height: 25px;
font-weight: normal;
font-family: 'Open Sans', sans-serif;
border-radius: 3px;
border: 3px solid transparent;
text-decoration: none;
transition: all 0.1s ease;
padding: 5px 17px;
}


.register_btn:hover{
  color:#fff;
  text-decoration: none;
}
span.contact {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #f51943;
  font-weight: 600;
}
div#succes_div {
  padding: 10px;
  text-align: center;
  min-height:450px;
}
.image_right img {
  width: 10%;
}
.success_msg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
span.request {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

button.finish {
  background: #CB3234;
  cursor:pointer;
  position: absolute;
  bottom: 20px;
  left: 30%;
  color: #fff;
  padding: 8px 63px;
  border: none;
  text-align: center;
  border-radius: 0;
}
button.finish:hover {
  background:#f51943;
}
#succes_div h1{
  font-size: 24px;
font-weight: normal;
text-align: center;
line-height: 50px;
position: relative;
  text-transform:capitalize;
}
#succes_div h1:after {
  content: '';
  display: block;
  background: #ff880c;
  height: 3px;
  max-width: 60px;
  width: 100%;
  margin: 0 auto;
}
.table .text-center {
  text-align: left;
}

a.register_btn:hover {
  opacity:0.8;
  text-decoration:none;
}
a.register_btn:focus {
    background: #ef3458;
    color: #fff;
    text-decoration:none;
  }
/*.program_table li .time_detail span {
  display: none;
  //vertical-align: top;
  //margin: 0 2px;
  //text-align: center;
  //-webkit-transform: translateY(-100px);
  //-moz-transform: translateY(-100px);
  //-ms-transform: translateY(-100px);
  //-o-transform: translateY(-100px);
  //transform: translateY(-100px);
  //-webkit-transition: -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  //-moz-transition: -moz-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  //-ms-transition: -ms-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  //-o-transition: -o-transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
  top: 20px;
  transition: all 300ms ease;
}
.program_table li:hover .time_detail span {
  //-webkit-transform: translateY(0px);
  //-moz-transform: translateY(0px);
  //-ms-transform: translateY(0px);
  //-o-transform: translateY(0px);
  top: 50px;
  display:block
}

.program_table li:hover .time_detail span + span {
  //transition-delay: 150ms;
}*/
button.send_btn {
  background: #EF3458;
  padding: 5px 10px;
  color: #fff;
  border: none;
}
.custom_wrapper .time_detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding: 10px 0;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.7, 0.08, 0.7005, 2);
}
.custom_wrapper:hover .time_detail {
  opacity: 1;
}
.custom_wrapper.active .time_detail span {
  opacity: 1;
}

.custom_wrapper .time_detail span {
  display: block;
  vertical-align: top;
  margin: 0 2px;
  text-align: left;
  transform: translateY(0px);
  opacity:0;
  transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.custom_wrapper .time_detail  span + span {
  transform: translateY(0px);
}

.custom_wrapper:hover .time_detail span {
  transform: translateY(42px);
  opacity:1;
}

.custom_wrapper:hover .time_detail span + span {
  transition-delay: 300ms;
  transform: translateY(40px);
}
.custom_wrapper.active .time_detail {
  opacity: 1;
  top: 40px;
}
.custom_wrapper:hover a {
  text-decoration: none;
}
.custom_wrapper.active a{
  color: #ef3458;
  width:100%;
  /*-webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;*/
}
.custom_wrapper:hover a{
  color: #ef3458;
  width:100%;
  /*  -webkit-transition: width 500ms ease-out;
    -moz-transition: width 500ms ease-out;
    -o-transition: width 500ms ease-out;*/
  transition: width 200ms ease-in;
}
.help-block {
  font-size: 13px;
}
.field label.effect{
  color:#adadad;
}
.custom_wrapper a {
  text-decoration: none;
  padding: 5px 0;
  color: #2c3d4f;
  border-bottom: 3px solid #2c3d4f;
  float: left;
  text-align: left;
  width: 103px;
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
  transition: width 200ms ease-in;
  background: #fff;
  position: relative;
  z-index: 5;
}
.animate-right {
  width: 69.1%;
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-right: 10%;
  margin-top:4px;
/*  left: 22.6%;*/
}
.animate-right .custom_wrapper {
  width: 21.5%;
}
.slide_left {
  width: 100%;
  min-height: 168px;
}
.slide_right {
  width: 100%;
  min-height: 170px;
  margin-left: 6%;
}
#agenda .program .slide_left > span {
  display: block;
  font-size: 60px;
  font-weight: 800;
  color: #2c3d4f;
  position: absolute;
  width: 19%;
  float: left;
  font-weight: 800;
}

#agenda .program > span {
  display: block;
  font-size: 60px;
  color: #2c3d4f;
  position: absolute;
  width: 19%;
  float: left;
  font-weight: 800;
  text-align:left;
}
.custom_wrapper.active .time_detail{
opacity:1;
}
.animate-left.left_side{
  -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation: myfirst 2s ;
  animation-direction: alternate;
  left:0px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  0%   { left: -1000px; top: 0px;opacity:0;}

  100% { left: 0px; top: 0px;opacity:1;}
}





.bottom_btn .register_btn {
  padding: 16px 40px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  width: auto;
  height: auto;
}
/*
ANIMATION FOR AGENDA*/

/*
BEGIN*/

.begin_animate .begin{
  -webkit-animation: begin 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation: begin 2s ;
  animation-direction: alternate;
  left:10px;
}
@-webkit-keyframes begin {
  0%   { left: 40%;opacity:0;}
  100% { left: 10px;opacity:1;}
}


/*
END*/
.begin_animate .end{
  -webkit-animation: end 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation: end 2s ;
  animation-direction: alternate;
  right:4px;
}
@-webkit-keyframes end {
  0%   { right: 40%;opacity:0;}

  100% { right: 4px;opacity:1;}
}

/*
BOOK YOUR SEAT BUTTON*/
.begin_animate .registerButton{
  -webkit-animation: register 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation: register 1s ;
  animation-direction: alternate;
}
@-webkit-keyframes register {
  0%   { top: 0;opacity:0;}
  100% { top: 70px; opacity:1;}
}


/*
AGENDA DASHBOARD*/

.begin_animate  .animate-left {
  -webkit-animation: agendaLeft 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation: agendaLeft 1.5s ;
  animation-direction: alternate;
  left: 0;
/*  -webkit-animation-delay: 4s; /!* Chrome, Safari, Opera *!/
  animation-delay: 4s;*/
  opacity: 1;
}


@-webkit-keyframes agendaLeft {
  0%  { opacity:0;}
  90% { opacity:0;left: -40px;}
  100% { opacity:1;left: 0; }
}

/*End part css animation*/


/*
END*/
.begin_animate .end{
  -webkit-animation: end 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation: end 2s ;
  animation-direction: alternate;
  right:0;
  text-align:center;
  width:18%;
}
@-webkit-keyframes end {
  0%   { right: 40%;opacity:0;}

  100% { right: 0;opacity:1;}
}


/*
AGENDA DASHBOARD*/

.begin_animate  .animate-right {
  -webkit-animation: agendaRight 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation: agendaRight 1.5s ;
  animation-direction: alternate;
  right: 0;
  /*  -webkit-animation-delay: 4s; /!* Chrome, Safari, Opera *!/
    animation-delay: 4s;*/
  opacity: 1;
}


@-webkit-keyframes agendaRight {
  0%  { opacity:0;}
  90% { opacity:0;right: -40px;}
  100% { opacity:1;right: 0; }
}

/*.............................GoogleMAp.................*/
.gmap-container{
  width:100%;
  overflow:hidden;
  height:400px;
}
.gmap{
  height:100%;
  width:100%
}
.iframe{
  height:100%;
  width:100%;
  border:0;
}
 /*
 fixed scrollbar */
.fixed-socialbar .icons_wrapper {
  display:block;
  color: #fff;
  padding: 10px;
  border-bottom:1px solid #000;
}
a.instagram.icons_wrapper {
  background: #125688;
}
a.twitter.icons_wrapper {
  background: #0084B4;
}
.fixed-socialbar {
  position: fixed;
  top: 50%;
}
.fixed-socialbar .facebook{
background: #5295cf;
}
