<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.message}}">{{thing.name}} - {{thing.phone}} - {{thing.email}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>-->
<div ng-init="refer.init()">

  <header>
    <div class="header-top">
      <div class="container clearfix">
        <div class="logo">
          <a ui-sref="main"><img src="../../assets/images/Frontend-logo.png" alt="Logo"/></a>
        </div>
        <span class="mobile-menu-icon" id="mobile-menu-icon">&#9776;</span>
        <nav class="nav-bar">
          <ul>
            <li><a class=""  data-scroll-nav="0">ABOUT</a></li>
            <li><a data-scroll-nav="1">SPEAKERS</a></li>
            <li><a data-scroll-nav="2">AGENDA</a></li>
            <li><a data-scroll-nav="3">VENUE</a></li>
            <li><a data-scroll-nav="4" href="#">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container clearfix">
      <div class="banner-area">
        <div class="bannerText">
          <h2>Where <strong>Frontend Engineers’ Meet!</strong></h2>
          <p>Be a part of the leading conference on state-of-the-art frontend and UX technologies.</p>
          <ul>
            <li>Saturday: <span>January 30, 2016</span></li>
            <li>Time: <span>9:30 AM</span></li>
            <li>Venue: <span>Noida</span></li>
          </ul>
        </div>
        <div class="bannerimg">  <a href="http://www.tothenew.com/"><img src="../../assets/images/sponsor-ttnd.png" /></a><br>
          <a href="#" ng-click="registerNow()" class="register_btn">Book Your Seat</a> </div>
      </div>
    </div>
</header>
  <div class="background_bottom"></div>
  <article class="container">
    <div ng-show="!refer.googleContactList.length">
    <div class="refer-section">
      <h2>Refer a friend</h2>
      <p class="refer-text">
        Enter mannually the name and email id of the person you want to refer for this conf or use your existing Gmail contacts.
      </p>
      <div class="refer_wrapper">
      <ul class="mannual__refer" ng-form="referForm">
        <li class="refer_input" ng-repeat="candidate in refer.referingList">
            <input type="text"  name="name-{{$index}}" class="mannual__refer--name form-control" data-ng-model="candidate.name"/>
            <input type="text" name="email-{{$index}}" ng-blur="candidate.isDirty = true" class="mannual__refer--email form-control" ng-trim="true" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" data-ng-model="candidate.email" required/>
            <span class="mannual__refer--button plus" ng-show="refer.referingList.length -1  == $index" ng-click="refer.addMore(candidate)">+</span>
            <span class="mannual__refer--button minus" ng-show="$index + 1 != refer.referingList.length" ng-click="refer.removeMore(candidate)">-</span>
            <span class="mannual__refer--error"  ng-show="candidate.isDirty && referForm['email-{{$index}}'].$error.pattern">
                  Email is Invalid
            </span>
        </li>
        <span class="or_span">OR</span>
        <button ng-click="refer.sendEmail()" class="btn refer_submit">Submit</button>
      </ul>
      <div class="google_refer">
        <div ng-click="refer.auth()" style="cursor:pointer">
        <img src="../assets/images/google.png" alt="google">
<span class="google-text">(Please click here to refer from Google.)</span></div>
      </div>

      </div>
      <div class="col-xs-12">

      </div>
    </div>

    </div>

    <div class="col-xs-12" ng-show="refer.googleContactList.length">
      <button ng-click="refer.selectAllReferFriend()" class="select_all">Select All/None</button>
      <table class="table refer_table table-hover table-striped">
        <tr class="ng-scope" data-ng-repeat="contact in refer.googleContactList">
          <td valign="middle" class=""> <span class="content-center"><input type="checkbox" ng-model="contact.isSelected" class="refer_checkbox"/></span></td>
          <td class="" ><img ng-src="{{contact.imageUrl}}" onerror="this.src='https://success.salesforce.com/resource/1452988800000/sharedlayout/img/new-user-image-default.png'" alt="" class="image_friend"/></td>
          <td valign="middle"><span class="content-center">{{contact.name}}</span></td>
          <td valign="middle" class=""><span class="content-center">{{contact.email}}</span></td>
        </tr>
      </table>
  <!--    <ul>
        <li data-ng-repeat="contact in refer.googleContactList">
          <label>
            <input type="checkbox" ng-model="contact.isSelected"/>
          </label>
          <div class="image"><img ng-src="{{contact.imageUrl}}" alt=""/></div>
          <div class="name">{{contact.name}}</div>
          <div class="email">{{contact.email}}</div>
        </li>
      </ul>-->
      <div class="">
        <button ng-click="refer.sendGoogleEmail()" class="btn sent-refer">Send mail</button>
      </div>
    </div>
  </article>


</div>


<!--<script src="../../bower_components/jquery/dist/jquery.min.js"></script>-->

