
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>






<table valign="top" align="center" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" border="0" style="margin:0 auto">
  <tbody>
  <tr>
    <td valign="top" align="center">
      <table width="520" align="center">
        <tr><td valign="top" align="center" height="40"></td></tr>
        <tr>
          <td valign="top" align="left">
            <img src="http://res.cloudinary.com/dwavtexle/image/upload/v1485253355/logo_ek1fbd.png" alt="fe-conf" style="display:block">
          </td>
        </tr>
        <tr><td valign="top" align="center" height="35"></td></tr>
        <tr>
          <td valign="top" align="left">
            <p style="margin:0;line-height:50px;font-family:calibri;font-size:50px;font-weight:100;color:#eb2242">Thank you for Registering for &quot;FE-CONF&quot;</p>
          </td>
        </tr>
        <tr><td valign="top" align="center" height="20"></td></tr>
        <tr>
          <td valign="top" align="center">
            <table cellpadding="0" cellspacing="0" border="0" align="left" width="388" bgcolor="#f4ee6f">
              <tr><td valign="top" align="center" height="8"></td></tr>
              <tr>
                <td valign="top" align="center">
                  <p style="font-size:24px;font-family:calibri;margin:0;font-weight:100">
                    Feb 18th, 2017  |  TO THE NEW, Noida
                  </p>
                </td>
              </tr>
              <tr><td valign="top" align="center" height="8"></td></tr>
            </table>
          </td>
        </tr>
        <tr><td valign="top" align="center" height="25"></td></tr>
        <tr>
          <td valign="top" align="left">
            <p style="margin:0;font-family:calibri;font-size:20px;line-height:25px">One of our representative will call you shortly to confirm your participation.</p>
          </td>
        </tr>
        <tr><td valign="top" align="center" height="20"></td></tr>

        <tr>
          <td valign="top" align="left">
            <p style="margin:0;font-family:calibri;font-size:22px;line-height:25px;font-weight:100">Please visit our website <a href="http://fe-conf.com/" style="font-weight:bold;color:#000000;text-decoration:none">www.fe-conf.com</a> for more details</p>
          </td>
        </tr>
        <tr><td valign="top" align="center" height="20"></td></tr>
        <tr>
          <td valign="top" align="center">
            <table cellspacing="0" width="100%" cellpadding="0" border="0" align="center">
              <tr>
                <td valign="middle" align="left" width="140">
                  <p style="margin:0;font-size:18px;font-family:calibri">Spread the Love!</p>
                </td>
                <td valign="middle" align="left" width="382">
                  <a href="https://www.facebook.com/pg/feconf"> <img src="http://res.cloudinary.com/dwavtexle/image/upload/v1485253354/fb_qzhxm8.png" alt="fb" style="display:inline-block"></a>
                  <a href="https://twitter.com/conf_fe"> <img src="http://res.cloudinary.com/dwavtexle/image/upload/v1485253355/twitter_y6qken.png" alt="twitter" style="display:inline-block"></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td valign="top" align="center" height="10"></td></tr>
        <tr>
          <td valign="top" align="center">
            <table cellspacing="0" width="100%" cellpadding="0" border="0" align="center">
              <tr>
                <td valign="middle" align="left" width="165">
                  <img src="http://res.cloudinary.com/dwavtexle/image/upload/v1485253355/ttn_hsu4yu.png" alt="TTN" style="display:inline-block">
                </td>
                <td valign="middle" align="left" width="356">
                  <p style="font-size:18px;font-family:calibri;font-weight:100;margin:0">TO THE NEW is a proud sponsor of FE-CONF
                    <br> 18 Feb, 2017 | TO THE NEW, Noida</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td valign="top" align="center" height="30"></td></tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>

</body></html>
