$main-font: 'raleway', sans-serif; 
//colors
$primary-color: #160a31;
$primary-light-color: #150957;
$white: #ffffff;
$black: #000000;
$menu-background: rgba(22, 10, 49, 0.95);
//responsive embed

/* screen width >1400px */
$section-padding: 0px 25vh;
$logo-width: 18.5vw;
$logo-height: 7.5vh;
$logo-text-size: 1.5vw;

$tag-size: 4.4vw;
