//global sass styling
@font-face{
    font-family: 'raleway-heavy';
    src: url(../assets/fonts/raleway.heavy.ttf);
}
@font-face{
  font-family: 'raleway-extrabold';
  src: url(../assets/fonts/raleway.extrabold.ttf);
}
@font-face{
    font-family: 'raleway-thin';
    src: url(../assets/fonts/raleway.thin.ttf);
}
@font-face{
    font-family: 'raleway-regular';
    src: url(../assets/fonts/raleway.regular.ttf);
}
@font-face{
    font-family: 'roboto-light';
    src: url(../assets/fonts/roboto.thin.ttf);
}
@font-face{
    font-family: 'roboto-regular';
    src: url(../assets/fonts/roboto.regular.ttf);
}
html
{
  height: 100%;
}
body{
    @include menu-transition(cubic-bezier(0.6, -0.28, 0.74, 0.05), 0.5s);
    font-family: 'raleway-regular';
    background-color: #FFFFFF;
    color: $white;
    min-height: 100%;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    &:focus, &:hover{
        color: inherit;
        text-decoration: none;
    }

}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0px 5%;
}
.hamburger-icon{
    @include menu-transition(cubic-bezier(0.6, -0.28, 0.74, 0.05), 0.5s);
  @include hamburger(2.3em, 0.11em);
    &:before{
        @include hamburger(2.3em, 0.11em);
        top: -0.6em;
    }
    &:after{
        @include hamburger(2.3em, 0.11em);
        bottom: -0.5em;
    }
}
.ham-ic a
{
  display: block;
}
h1{
    @extend .no-margin;
    .site-logo{
        @extend .no-margin;
        padding: 1.7em 5em 0px 0px;
        height: 0;
        background: url(../../assets/images/logo.png) no-repeat;
        overflow: hidden;
        background-size: 100% 65%;

        display: block;

    }
}
.wrapper-b{
    height:100%;
    width: 100%;
    &.overflow-h{
        overflow: hidden;
        position: fixed;
    }
}



nav{
    &#menu{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1000;
      background-color: $menu-background;
      ul{
        @extend .no-padding;
        padding-top: 3em;
          li{
              font-family: 'raleway-extrabold';
              text-transform: uppercase;
              margin-bottom: 0.4em;
              font-size: 11vw;
          }
      }
    }
}
//bullets nav section
#nav-bullets{
    display: none;
    position: fixed;
    right: 1vw;
    top: 35vh;
    z-index: 9;
    text-align: center;
    ul{
        padding:0px;
        li{
            a{
                display: inline-block;
                width: 1.5vh;
                height: 1.5vh;
                background-color: #6b6279;
                border-radius: 10px;

                &.active{
                    width: 2.1vh;
                    height: 2.1vh;
                    background-color: #c3d6e2;
                }

            }
        }
    }
}
//global sass styling end
//sectional sass styling
#first-section{
    @include background-img-box("../assets/images/bg-1.png");
    position: relative;
    z-index: 2;
    &:before{
        background: $primary-color;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: " ";
        opacity: 0.9;
        z-index: -1;
        display: block;
    }
  .header-b{
        padding-top: 2em;
        width: 100%;
        }
        figure{
            @extend .no-margin;
            @extend .text-center;
            float: left;
            width:10em;
            span{
                @extend .text-center;
                @extend .no-margin;
                display: block;
                font-weight: 100;
                font-size: 15px;
                margin-top: -15px;
            }
        }
        a#menu-button{
            @include vertical-padding(10px);
            float: right;
        }

    article.main {
        width: 100%;
        margin-top: 5%;
        h1{
            font-size: 2.5em;
            font-weight: 100;
            font-family: 'raleway-thin';
            margin-bottom: 0px;
            span{
                text-transform: uppercase;
                font-family: 'raleway-heavy';
                display: block;
                margin-top: 25px;
                line-height: 1em;
            }
        }
    }
    .information{
        padding-bottom: 2.3em;
        width: 100%;
        .days{
            h2{
                font-weight: 900;
                font-size: 2.6em;
                margin-bottom: 0.4em;
                font-family: "raleway-regular";
                .light-text{
                    font-weight: 100;
                    font-style: italic;
                    font-family: 'raleway-thin';
                    font-size: 3vh;
                }
            }
            .venue-details{
                @include color-background(18px, 10px, 18px, 15px, #f4ee6f);
                color: #000000;
                ul{
                    @extend .no-margin;
                    @extend .no-padding;

                    li{
                        margin-top: 0.5em;

                        &:first-child{
                            margin: 0;
                        }

                    }
                }
            }
        }
        .register{
            h3{
                font-weight: 100;
                font-family: 'raleway-thin';
                font-style: italic;
            }
            a{
                @include color-background(0.7em, 0em, 0.7em, 0em , #8186f4);
                text-align: center;
                width: 100%;
                display: block

            }
        }
    }
}
#first-section .venue-details li
{
  font-family: 'raleway-regular';
}
//Second Section styling
#second-section{
    @include background-img-box("../assets/images/bg-2.png");
    @include vertical-padding(2.5em);
     position: relative;
     overflow: hidden;
    z-index: 2;
    &:before{
        background: $primary-color;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: " ";
        opacity: 0.9;
        z-index: -1;
        display: block;
    }
    h2{
        background-color: #eb2242;
        padding:1.3em .6em 1.3em .6em;
        font-family: 'raleway-heavy';
        text-transform: uppercase;
        position: absolute;
        color: $white;
        right: -5.2em;
        top: -1.3em;
       /* display: inline;*/
        /*float: right;
        margin-top: -3.1em;
        margin-right: 0em;*/
    }
    article{
        @include color-background(1.2em,1.2em,1.2em,1.2em, #f4ee6f);
        color: $black;
        line-height: 1.2em;
        margin-top: 10%;
        position: relative;
        padding: 2.2em 2.2em 2.2em 2.2em;
        p{
            margin-top: 0px;
        }
    }
}

//third section styling
#third-section{
    background-color: $primary-light-color;
    @include vertical-padding(3em);
    h2{
        @include color-background(0.4em, 0.7em, 0.4em, 0.7em,#eb2242);
        text-transform: uppercase;
        display: inline-block;
        font-family: 'raleway-heavy';
    }
    article{
        font-weight: 100;
        font-family: 'raleway-thin';
    }
    .speaker-list{
        position: relative;
        margin: 0 -0.1em;
        overflow: hidden;
    }
    figure{
        display: inline-block;
        width: 48%;
        margin: 0px 0.1em;
        vertical-align: top;
        img{
            height: auto;
            width: 100%;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
        }
        figcaption{
            text-transform: uppercase;
            margin:.4em 0 1em 0;
            overflow: auto;
            h4{
                @extend .no-margin;
                font-family: 'raleway-heavy';
                letter-spacing: 1px;
            }
            p{
                margin: 0;
            }
        }
    }
}
//forth section styling
#forth-section{
    @include vertical-padding(3em);
    background-color: $primary-color;
    article{
        @include color-background(1em,1em, 1em, 1em, #222339);
        color: #a5a8e7;
        margin-bottom: 1em;
        h2{
            @extend .no-margin;
            font-weight: 900;
            text-transform: uppercase;
            font-family: 'raleway-heavy';
            font-size: 5.8vw;
        }
        p{
            line-height: 1.5em;
            font-family: 'raleway-thin';
            margin-top: 1.5em;
            &#tagline{
                font-size: 1em;
                font-style: italic;
            }
        }
    }
    .submit-links{
        float: right;
    }
    a.submit-talk{
        @include color-background(1em, 1.8em, 1em, 1.8em, #f4ee6f);
        float: right;
        color: #eb2242;
        margin-top: 1em;
        font-family: "raleway-thin";
    }
    a.book-seat{
        @include color-background(1em,1.8em, 1em,1.8em, #eb2242);
        color: #ffffff;
        float: right;
        margin-top: 0.7em;
        font-family: "raleway-thin";
    }
    .time-schedule{

            @include vertical-padding(2em);
            @extend .no-padding;
            padding-top: 0;
            color: #a5a8e7;
            font-family: 'roboto-light';
            font-size: 0.9em;
            li{
                margin-bottom: 1em;
                time{
                    margin-right: 1em;
                }
                span.text-yellow{
                    font-family: 'roboto-light';
                    font-weight: 700;
                    color: #f4ee6f;
                }
                span.text-red{
                    font-family: 'roboto-regular';
                    font-weight: 700;
                    color: #eb2242;
                }
                small{
                    font-family: 'raleway-thin';
                    font-style: italic;
                    color: #9697a5;
                }
            }

    }
}
// fifth section
#fifth-section{
    background-color: #222339;
    @include vertical-padding(2em);
    overflow: hidden;
    .highlight-tag{
        @include color-background(1em, 1em, 1em, 1em, #00a651);
        text-transform: uppercase;
        display: inline-block;
        margin-top: 2em;
        h1{
            @extend .no-margin;
            font-family: 'raleway-heavy';
        }
        h2{
            @extend .no-margin;
            font-size: 1.5em;
            font-family: 'raleway-thin';
        }
    }
    .show-mobile
    { display:none;
    }
    a{
        font-size: 0.8em;
    }
    ul{
        margin: 0;
        padding: 0;
        position:relative;
        li
        {
          img
          {
            height: 100%;
            max-width: 100%;
            width: 100%;
          }
          .wrap-img
          {
            height: 160px;
            width: 210px;
          }
        }
         .border-topLeft
         {
           border-left: 2px solid #fff;
           border-top: 2px solid #fff;
         }
         .border-left
         {
           border-left: 2px solid #fff;
         }
         .border-bot
         {
           border-bottom: 2px solid #fff;
         }
         .border-leftBot
         {
           border-left: 2px solid #fff;
           border-bottom: 2px solid #fff;
         }
         .border-topright
         {
           border-right: 2px solid #fff;
           border-top: 2px solid #fff;
         }
         .border-right
         {
           border-right: 2px solid #fff;
         }
    }
}
#fifth-section ul li:last-child
{
  position: relative;
  .highlight-tag
  {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
//sixth section

#sixth-section{
    background-color: #d2d2d2;
    padding-left: 15px;
    padding-right: 15px;
    @include vertical-padding(2em);
    text-align: center;
    padding-bottom: 0px;
    position: relative;
    h2{
        @include color-background(0.4em,1em,0.4em,1em,#a60027);
        @extend .no-margin;
        font-family: 'raleway-heavy';
        text-transform: uppercase;
        display: inline-block;

    }
    p{
        color: #000000;
        padding: 0 15px;
        font-family: 'raleway-thin';
    }
    #location{
        height:380px;
        resize:none;
        max-width:100%;
        margin-top: 2em;
        pointer-events: none;
        position: absolute;
        bottom: 5px;
        width: 100%;
        #gmap_canvas{
            height:100%;
            width:100%;
            max-width:100%;
            iframe{
                height:100%;
                width:100%;
                border:0;
            }
            img{
                max-width:none!important;
                background:none!important;
                font-size: inherit;
            }
        }
    }
}
#sixth-section #location .iframe
{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: none;
}
// seventh section

#seventh-section{
    @include vertical-padding(2em);
    background-color: #0f0931;
    text-align: center;
    p{
        @extend .no-margin;
    }
   h2.get-in-touch{
        @include color-background(0.7em,1em,0.7em,1em, #5388be);
        font-family: 'raleway-heavy';
        text-transform: uppercase;
        display: inline-block;
        margin-top: 4vh;
    }
  .foot{
        ul{
            @extend .no-padding;
            list-style: none;
            li{
                width: 100%;
                font-family: 'raleway-thin';
                >h2{
                    color: #f0ede5;
                    text-transform: uppercase;
                    background: none;
                    padding:0;
                }
                address{
                    font-style: normal;
                    line-height: 1.5em;
                }
            }
        }
    }

}
//sectional sass styling end


.nav-dater{
  padding: 0px;
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 20px auto;
    li{
      display: inline-block;
      text-align: center;
      list-style: none;
      background: #cccccc;
        &.active{
          background: #0d6aad;
        }
        a{
          padding: 10px;
          color: #ffffff;
          text-decoration: none;
          display: inline-block;
        }
    }
}

.table{
  color: #111111;
  &.custom-table{
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
  }
}

.custom-nav{
  background: #005299;
  color: #ffffff;
  padding: 10px 0px;
  .navbar-text{
    color: #ffffff;
  }
  ul{
    padding: 0px;
    li {
      color: #ffffff;
      a{
        color: #ffffff !important;
      }
    }
  }
}

.form-custom{
  h1{
    color: #111111;
    text-align: center;
  }
  label{
    color: #111111;
    margin-top: 5px;
  }
}


body {
  font-size: 1.6rem;
  color: #ffffff;
  overflow: hidden;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

/* --------------------------------

Main Components

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
}
.cd-section:first-of-type > div {
  background-color: #2b334f;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
.cd-section:nth-of-type(2) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(3) > div {
  background-color: #267481;
}
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > div {
  background-color: #f06a59;
}
@media only screen and (min-width: 1050px) {
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav li{
  text-align: center;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 40px !important;
  color: #00a651;
}
.cd-vertical-nav a.cd-prev {
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}
.home_menu{
  position: absolute;
  z-index: 10000;
  color: #ffffff;
  top: 8%;
  right: 10%;
  width: 50px;
  transition: all 0.3s;
  transform: translateX(500%);
  -webkit-transform: translateX(500%);
  -moz-transform: translateX(500%);
  -ms-transform: translateX(500%);
  -o-transform: translateX(500%);
  font-weight: 100;
  &.active{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
#first-section > .container
{
  height: 100%;
}
#first-section .information
{
  position:absolute;
  bottom:0;
  padding-bottom: 0;
  margin-bottom: 2.3em;
  height: 200px;
}
.days{
  position: absolute;
  left:0;
  bottom:0;
}
.days ul
{
  margin-bottom: 0;
}
#first-section .information > .register{
  position: absolute;
  right:0;
  bottom:0;
}
.container-inner
{
  position: relative;
  height: 100%;
}
.ham-ic{
  position: absolute;
  top: 8%;
  right:10%;
  z-index: 10000;
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  &.active{
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
  }
}
.nav-icon1{
  width: 50px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

}
.ham-ic
{
  a
  { display: block;
  }
}
.nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon1 span:nth-child(1) {
  top: 0px;
}

.nav-icon1 span:nth-child(2) {
  top: 18px;
}

.nav-icon1 span:nth-child(3) {
  top: 36px;
}

.nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.ngdialog.ngdialog-theme-default{
    padding: 5% 0px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
    border-radius:0 ;
    -webkit-border-radius:0 ;
    -moz-border-radius:0 ;
    background: #ffffff;
    border-top: 5px #ffffff solid;

    .form-control{
        border-radius:0 ;
        -webkit-border-radius:0 ;
        -moz-border-radius:0 ;
        border:none;
        border-bottom: 1px solid #cccccc;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        padding: 5px 1px;
    }
    label{
        font-weight: 100;
        font-size: 12px;
    }
    .help-block{
        font-size: 12px;
        position: absolute;
        bottom: 10px;
    }
}
.talk-form .ngdialog-content
{
  width: 900px!important;
  padding: 75px 30px!important;
  .name, .company-name
  {
    width: 30%;
    display: inline-block;
    margin-right: 5%;
  }
  .experience
  {
    width: 10%;
    display: inline-block;
  }
  .biography, .abstract
  {
    width: 45%;
    display: inline-block;
  }
  .biography
  {
    margin-right: 5%;
  }
  .btn_wrapper
  {
    width: 30%;
  }
}
.talk-form .input-textarea .input__label.input__label--nao
{
  top: 7em;
}
.input-textarea .input__field--nao:focus + .input__label--nao, .input-textarea.input--filled .input__label--nao {
  color: #8186f4;
  transform: translate3d(0, -7.25em, 0) scale3d(0.75, 0.75, 1);
}
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

/* Individual styles */


/* Nao */
.input--nao {
    overflow: hidden;
    padding-top: 1em;
    width: 100%;
    margin: 0px;
    max-width: 100%;
}

.input__field--nao {
    padding: 0.5em 0em 0.5em;
    width: 100%;
    background: transparent;
    color: #484a4c;
    font-size: .9em;
    font-weight: lighter;
    resize: none;
}
  textarea.input__field--nao
  {
   padding: 0.5em 0em .3em;
   margin-top: 10px;
    margin-bottom: 10px;
   line-height: 15px;
  }
.input__label--nao {
    position: absolute;
    top: 0.5em;
    font-size: 0.85em;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0em;
    pointer-events: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
    transition: transform 0.2s 0.15s, color 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.graphic--nao {
    stroke: #ddd;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
    transition: transform 0.7s, stroke 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
/*.graphic-textarea path
{
  opacity: .6;
}*/
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
    color: #8186f4;
    -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
    transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
    stroke: #8186f4;
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}

.form-catcher{
    position: relative;
    .help-block{
        color: red;
        position: absolute;
        top: 25px;
        right:0px;
        font-size: 11px;
    }
}
.ngdialog-content h1{
    font-size: 20px;
    font-weight: 100;
    margin-top: -10px;
}
.ngdialog-content .topText{
    font-size: 12px !important;
}
.regis-btn{
    font-family: 'raleway-thin';
    font-weight: 100;
    background: #8186f4;
    font-size: 20px;
    padding: 5px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.menu-de{
  opacity:0;
  transition: all 0.2s;
  visibility: hidden;
  &.active{
    opacity:1;
    visibility: visible;
  }
}

.full-page{
  background: #2c4762;
}


/* Registration Form */
.ngdialog.ngdialog-theme-default .ngdialog-content
{
  padding: 30px;
  font-family: 'raleway-regular';
}
button#submitBtn {
  padding: 15px 5px;
}
/* Registration Form */
