// tablet
@include style-for(mobile-large)
{
  body
  {
    overflow: auto;
  }
  nav#menu
  {
    display: none;
  }
  .cd-section
  {
    height: 100%;
  }
  .cd-section:first-of-type > div, #first-section
  {
    height: 100%;
  }

  /* header */
  #first-section .header-b
  {
    padding-top: 1.5em;
  }
  .nav-icon1
  {
    width: 30px;
    top: 5%;
  }
  .nav-icon1 span:nth-child(2) {
    top: 8px;
  }
  .nav-icon1 span:nth-child(3) {
    top: 16px;
  }
  /* header */

  /* section first */
  .home_menu
  {
    display: none;
  }
  #first-section .information,#first-section .days, #first-section .information > .register
  {
    position: static;
  }
  #first-section
  {
    .information
    {
      height: auto;
        h2 {
          text-align: right;
        }
      .register
      {
        h3
        {
          margin-bottom: 20px;
          font-size: 18px;
        }
      }
    }
  }
  #first-section article.main
  {
    margin-top: 4%;
    padding-right: 15px;
    h1
    {
      text-align: right;
      font-size: 1.5em;
      span
      {
        margin-top:6px;
      }
    }
  }
  #first-section .information .days h2
  {
    margin-top: 6px;
    font-size: 1.3em;
  }
  #first-section .information .days .venue-details
  {
    margin-top: 3vh;
    font-size: 5vw;
    padding: 12px 10px;
  }
  /* section first */

  /* section second */
  #second-section
  {
    padding-top: 5.5em;
    min-height: 100%;
    h2
    {
      padding: .8em .6em .8em .6em;
      right: calc(50% - 96px);
      top: -2.3em;
      margin-top: 0;
    }
  }
  #second-section article
  {
    padding: 2.2em 1.2em;
    text-align: center;
  }
  /* section second */

  /* section third */
  #third-section h2
  {
    margin-top: 0;
  }
  /* section third */


  #forth-section, #fifth-section, #sixth-section, #seventh-section
  {
    padding-top: 3em;
  }
  /* section fifth */
  #fifth-section ul li {
    max-width: 320px;
    margin: 0 auto .5em auto;
    overflow: hidden;
    img
    {
      border: 1px solid #fff;
    }
    &:last-child {
      width: 100%;
      text-align: center;
      max-width: 280px;
      margin: 0 auto;
      float: none;
      padding: 30px 0;
      height: auto;
      .highlight-tag
      {
        display: none;
      }
    }
  }
  #fifth-section ul li .wrap-img
  {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: .5em;

  }
  #fifth-section li .wrap-img + .wrap-img
  {
    margin-bottom: 0;
  }
  #fifth-section .show-mobile
  {
    display: block;
    a
    {
      display: none;
    }
  }
  #fifth-section .highlight-tag
  {
    margin-top: 0;
    margin-bottom: 2em;
  }
  /* section fifth */
  #sixth-section h2
  {
    margin-bottom: 1.6em;
  }
}
@include style-for(tablet) {
  body
  {
    overflow: auto;
  }
  .home_menu
  {
    display: none;
  }
  section {
    height: 100%;
  }
  .container {
    min-width: 100%;
    padding: 0 5vh;
  }
  #first-section {
    .main {
      h1 {
        width: 50%;
        float: right;
      }
    }
    .information {
      >.days {
        width: 45%;
        float: left;
        .venue-details {
          width: 15em;
        }
      }
      >.register {
        width: 50%;
        float: right;
      }
    }
    a {
      &.site-logo {
        background-size: 100%;
      }
    }
  }
  #second-section {
   /* h2 {
      top: 1.9em;
      right: 6em;
    }*/
    article {
      width: 70vh;
      margin-left: 5.1vh;
      @include color-background(2.9em, 2.9em, 2.9em, 2.9em, #f4ee6f);
    }
  }
  #third-section {
    .speaker-list {
      margin: 0 -1.5em;
    }
    figure {
      margin: 0px 2vw;
      height: 8.8em;
      width: 20vh;
    }
    h2 {
      font-size: 2em;
    }
  }
  #forth-section {
    .left {
      width: 40%;
      float: left;
    }
    .right {
      width: 55%;
      float: right;
      margin: 0px;
      padding: 0px;
      li {
        margin-bottom: 0.6em;
      }
    }
  }
  #fifth-section{
    ul{
      li{
        float: left;
        width: 33%;
        overflow: hidden;
        height: 159px;
        &:last-child {

        }
        a {
          position: absolute;
          top: 25px;
        }
      }
    }
  }
  #seventh-section {
    .foot {
      ul {
        display: inline-flex;
        li {
          text-align: left;
          padding-left: 10%;
        }
      }
    }
  }
}
@include style-for(ipad-landscape) {
  #nav-icon1
  {
    top: 3.5%;
  }
  #first-section {
    article.main {
      h1 {
        width: 50%;
        float: right;
        margin-top: 10vh;
        font-size: 6vh;
      }
    }
    .information {
      margin-top: 4vh;
      .days {
        width: 45%;
        float: none;
        .venue-details {
          width: 15em;
        }
        h2 {
          font-size: 3.5vh;
          .light-text {
            font-size: 2vh;
          }
        }
      }
      >.register {
        width: 50%;
        float: none;
        margin-top: 5vh;
      }
    }
    figure {
      width: 12em;
      h1 {
        .site-logo {
          background-size: 100%;
        }
      }
      h2 {
        font-size: 1em;
        margin-top: -10px;
      }
    }
  }
  #second-section {
    .container {
      margin-top: 7%;
    }
    article {
      width: 40vh;
      position: relative;
      p {
        font-size: 1.7vh;
        line-height: 3vh;
      }
    }
    h2 {
      font-size: 3vh;
      position: absolute;
      display: inline;
      float: right;
    }
  }
  #third-section {
    .container {
      padding-top: 10%;
      figure {
        width: 19vh;
      }
    }
  }
  #forth-section {
    .container {
      padding-top: 5%;
    }
    a.submit-talk {
      font-size: inherit;
    }
    article {
      margin-left: 0;
      width: 50%;
      float: left;
      p#tagline {
        font-size: 1.5vh;
      }
    }
    .left {
      width: 100%;
      float: none;
      margin-bottom: 5%;
    }
    .right {
      width: 100%;
      float: none;
      li {
        font-size: 2vh;
        small {
          font-size: 1.8vh;
        }
      }
    }
  }
  #fifth-section {
    padding-top: 20%;
  }
  #sixth-section {
    padding-top: 25%;
   /* #location {
      height: 77%;
    }*/
  }
  #seventh-section {
    .container {
      padding-top: 30%;
    }
  }
  #sixth-section h2
  {
    margin-bottom: 1em;
  }
}
@include style-for(desktop) {
  nav {
    &#menu {
      ul {
        width: 74.1vh;
        float: right;
        li {
          font-size: 3vw;
        }
      }
    }
  }
  section {
    min-height: 100%;
    height: 100%;
  }
  .container {
    min-width: 100%;
    padding: 0 5vw;
    overflow: hidden;
  }
  #first-section {
    @include vertical-padding(10%);
    padding-top: 0;
    .header-b {
      padding-top: 6vh;
    }
    figure {
      width: $logo-width;
      height: $logo-height;
      h1 .site-logo {
        margin-bottom: 19px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      span {
        font-size: $logo-text-size;
      }
    }
    article.main {
      margin-bottom: 2vh;
      margin-top: 10vh;
      h1 {
        font-size: $tag-size;
        line-height: 8vh;
        width: 45vw;
        float: right;
      }
    }
    .information {
      .days {
        width: 30vw;
        float: left;
        h2 {
          font-size: 5vw;
          margin-bottom: 4vh;
        }
        .venue-details {
          width: 100%;
          li {
            font-size: 2.5vh;
          }
        }
      }
      .register {
        width: 45vw;
        float: right;
        padding-right: 10vh;
        font-family: 'raleway-thin';
        h3 {
          font-size: 2.4vw;
        }
        a {
          font-size: 2.5vw;
          padding: 2vh;
        }
      }
    }
  }
  #second-section {
    @include vertical-padding(5%);
    article {
      width: 50vw;
      height: 68.5vh;
      margin-left: 10.1vh;
      p {
        font-size: 1.6vw;
        line-height: 4.2vh;
        margin-top: 0px;
        margin-bottom: 5vh;
      }
    }
    h2 {
      font-size: 5vw;
      display: inline;
      float: right;
      padding: 1em .7em 1em .7em;
    }
  }
  #third-section {
    padding-top: 3%;
    article {
      p {
        font-size: 2.5vw;
        margin: 0 0 2.2vh 0;
      }
    }
    .speaker-list {
      margin: 0 -4.7vh;
      margin-top: 10vh;
    }
    figure {
      height: auto;
      margin: 0px 3.5vh;
      width: 13vw;
      overflow: hidden;
      .image {
        height: auto;
      }
      figcaption {
        h4 {
          font-size: 2.1vw;
        }
        p {
          font-size: 1.6vw;
        }
      }
    }
    h2 {
      font-size: 6vw;
      margin-bottom: 5vh;
    }
  }
  #forth-section {
    padding-top: 8%;
    .left {
      width: 40vw;
      float: left;
      article {
        padding: 2.5vh 2.5vh 9.5vh 2.5vh;
        p {
          line-height: 1.8em;
          font-size: 2vw;
          &#tagline {
            font-size: 1.7vw;
          }
        }
      }
      .submit-links {
        a {
          font-size: 2vh;
        }
      }
    }
    .right {
      width: 43vw;
      float: right;
      li {
        font-size: 1.47vw;
        small {
          font-size: 1.1vw;
        }
        margin-bottom: 2.5vh;
        .text-yellow,
        .text-red {
          font-size: 2.1vw;
        }
      }
    }
  }
  #fifth-section{
    ul{
      margin: 0 -2px;
      li{
        float:left;
        overflow: hidden;
        margin:0;
        position: relative;
        &:last-child{
          width:35%;
        }

      }
      .first{
        width: 30.92%;
        height: 320px;
      }
      .second{
        width: 21.64%;
        height: 320px;
      }
      .third{
        width: 46.9%;
        height: 320px;
      }
      .forth{
        width: 21.64%;
        height: 159px;
      }

    }
    padding-top: 5%;
    .highlight-tag{
      display: inline-block;
      vertical-align: bottom;
      float: right;
    }
    .view{
      position: absolute;
      top: 15px;
      right: 5px;
      left:auto;
    }
    h1{
      font-size: 2.5em;
    }
  }
  #sixth-section {
    @include vertical-padding(4%);
    #top {
      padding: $section-padding;
    }
    h2 {
      font-size: 5.7vh;
      margin: 0 0 5vh 0;
    }
    p {
      font-size: 3.5vh;
      margin: 0 0 2vh 0;
    }
   /* #location {
      width: 100%;
      height: 60%;
    }*/
  }
  #seventh-section {
    @include vertical-padding(10%);
    p {
      font-size: 2vh;
    }
    h2 {
      font-size: 5.5vh;
      margin-bottom: 9vh;
    }
    .foot {
      ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        li {
          font-size: 18px;
          text-align: left;
          padding-left: 10%;
          >h2 {
            font-size: 3.5vh;
            margin-bottom: 2vh;
          }
        }
      }
    }
  }
  #nav-bullets {
    display: block;
  }
}
@include style-for(desktop-large) {
  nav {
    &#menu {
      ul {
        width: 82.1vh;
      }
    }
  }
  section {
    min-height: 100%;
    height: 100%;
  }
  .container {
    padding: 0 10vw;
  }
  #first-section {
    @include vertical-padding(10%);
    padding-top: 0;
    padding-bottom: 5%;
    .header-b {
      padding-top: 6vh;
    }
    figure {
      width: $logo-width;
      height: $logo-height;
      h1 .site-logo {
        margin-bottom: 19px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      span {
        font-size: $logo-text-size;
      }
    }
    article.main {
      margin-bottom: 2vh;
      margin-top: 5%;
      h1 {
        font-size: $tag-size;
        line-height: 8vh;
        width: 40vw;
        float: right;
        span {
          margin-top: 2.5vh;
        }
      }
    }
    .information {
      .days {
        width: 30vw;
        h2 {
          font-size: 3.6vw;
          margin-bottom: 5vh;
        }
        .venue-details {
          width: 21.6vw;
          li {
            font-size: 2.5vh;
          }
        }
      }
      .register {
        width: 40vw;
        float: right;
        padding-right: 10vh;
        font-family: 'raleway-thin';
        h3 {
          font-size: 2.2vw;
        }
        a {
          font-size: 2.2vw;
          padding: 2vh;
          margin-top: 3vh;
        }
      }
    }
  }
  #second-section {
    @include vertical-padding(5%);
    article {
      width: 48vw;
      height: auto;
      margin-top: 8%;
      padding-bottom: 4em;
      p {
        font-size: 1.32vw;
        line-height: 4.2vh;
        margin-top: 0px;
        margin-bottom: 3vh;
        &:last-child
        {
          margin-bottom: 0;
        }
      }
    }
    h2 {
      font-size: 3.1vw;
      display: inline;
      float: right;
    }
  }
  #third-section {
    padding-top: 3%;
    article {
      p {
        font-size: 1.8vw;
        margin: 0 0 2.2vh 0;
      }
    }
    .speaker-list {
      margin: 0 -4.7vh;
      margin-top: 10vh;
    }
    figure {
      margin: 0px 1.5vw;
      width: 13vw;
      overflow: hidden;
      .image {
        height: auto;
      }
      figcaption {
        h4 {
          font-size: 1.8vw;
        }
        p {
          font-size: 1.34vw;
        }
      }
    }
    h2 {
      font-size: 3.52vw;
      margin-bottom: 5vh;
    }
  }
  #forth-section {
    padding-top: 5%;
    .left {
      width: 24vw;
      article {
        padding: 4.5vh 2.5vh 4vh 4.5vh;
        h2 {
          font-size: 5.8vh;
          margin-bottom: 3vh;
        }
        p {
          line-height: 1.5em;
          font-size: 3vh;
          &#tagline {
            font-size: 1.2vw;
          }
        }
      }
      .submit-links {
        a {
          font-size: 1.3vw;
        }
      }
    }
    .right {
      width: 45vw;
      li {
        font-size: 1.2vw;
        margin-bottom: 2.2vh;
        .text-yellow, .text-red {
          font-size: 1.5vw;
        }
      }
    }
  }
  #fifth-section{
    ul{
      margin: 0 auto;
      max-width: 970px;
      li{
        float: left;
        overflow: hidden;
        margin:0;
        position: relative;
        &:last-child{
          height: 160px;
          width:340px;
        }

      }
      .first{
        width: 300px;
        height: 320px;
      }
      .second{
        width: 210px;
        height: 320px;
      }
      .third{
        width: 455px;
        height: 320px;
      }
      .forth{
        width: 210px;
        height: 160px;
      }

    }
    padding-top: 9%;
    .highlight-tag{
      display: inline-block;
      vertical-align: bottom;
      float: right;
    }
    .view{
      position: absolute;
      top: 25px;
      right: 5px;
      left:auto;
    }
    h1{
      font-size: 2em;
    }
  }
  #sixth-section {
    @include vertical-padding(4%);
    padding-left: 0;
    padding-right: 0;
    #top {
      padding: $section-padding;
    }
    h2 {
      font-size: 2.98vw;
      margin: 0 0 5vh 0;
    }
    p {
      font-size: 1.8vw;
      margin: 0 0 2vh 0;
    }
   /* #location {
      width: 100%;
      height: 66%;
    }*/
  }
  #seventh-section {
    @include vertical-padding(8%);
    p {
      font-size: 18px;
    }
    h2 {
      font-size: 2.7vw;
      margin-bottom: 9vh;
    }
    .foot {
      ul {
        margin: 0;
        padding: 0;
        width: 100%;
        li {
          font-size: 2.6vh;
          >h2 {
            font-size: 24px;
            margin-bottom: 2vh;
          }
        }
      }
    }
  }
  #nav-bullets ul li {
    a {
      width: 1.1vh;
      height: 1.1vh;
      &.active {
        width: 1.5vh;
        height: 1.5vh;
      }
    }
  }
}
@include style-for(mediumlarge-screen)
{
  #first-section .information
  {
    margin-bottom: 0;
  }
  #first-section .information .days .venue-details
  {
    width: 19.8vw;
    padding: 16px 10px 14px 15px;
    li
    {
      margin-bottom: 4px;
    }
  }
  #second-section article
  {
    padding: 3em 4em 4em 2em;
    p
    {
      line-height: 4.8vh;
    }
  }
  #forth-section .left article
  {
    padding: 4.5vh 2.5vh 6vh 4.5vh;
    p#tagline{
      margin-top: 4vh;
    }
  }
  #sixth-section #location
  {
    height: 350px;
  }
}
@include style-for(large-screen) {
  #first-section .information .days h2
  {
    font-size: 2.5vw;
  }
  #first-section article.main h1 span {
    margin-top: 10px;
  }
  #fifth-section {
    ul {
      li {
        width: 12%;
      }
    }
  }
  #sixth-section #location
  {
    height: 400px;
  }
  #seventh-section .foot ul li
  {
    font-size: 2vh;
  }
}
